:host app-mat-carousel ::ng-deep .carousel-slide {
      width: 100%;
      position: relative!important;
      height: auto!important;
}
// :host app-mat-carousel ::ng-deep li.carousel-slide {
//       padding: 0px!important;
// }
:host  app-mat-carousel ::ng-deep .carousel-slide-content {
      height: auto!important;
      position: relative!important;
}
:host {
      color: white;
      position: fixed;      
      overflow-x: hidden;
}
:host h2 {
      
      color: black
      // color: lightgoldenrodyellow;
}
.panel-region-main {
    display: flex; flex-direction: column; border-radius: 3px; background-color: rgba(220, 220, 220, 0.8); color: black; padding: 30px 32px 30px 32px!important;
}

/* color overlay BLOCKS of education */
.procs .header-edu {
    width: 30vw;
    min-width: 247px;
    // min-height: 247px;
    height: 247px;
    // padding: 20px;
    cursor: pointer;
    justify-content: center;
    background: black;
    overflow: hidden;
    background: #ccc;  /* fallback colour. Make sure this is just one solid colour. */
 
    background-position-x: left;
    transition: transform .2s; /* Animation */
}

.procs .header-edu:hover {
    transform: scale(1.1);
}
// .header-edu:nth-child(0) {
//     background: -webkit-linear-gradient(rgba(29, 38, 113, 0.1), rgba(195, 55, 100, 0.1)), url("/realty/assets/R-START.jpg");
//     background: linear-gradient(rgba(29, 38, 113, 0.1), rgba(195, 55, 100, 0.1)), url("/realty/assets/R-START.jpg"); /* The least supported option. */
//     background-repeat: no-repeat;
//     background-size: 80%;
//     background-position-x: right;
//     background-position-y: center;
// }


.procs:nth-child(1) .header-edu {
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.1), rgba(195, 55, 100, 0.1)), url("/realty/assets/PP.jpg");
    background: linear-gradient(rgba(29, 38, 113, 0.1), rgba(195, 55, 100, 0.1)), url("/realty/assets/PP.jpg"); /* The least supported option. */
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;
}

.Start {
    background-color: transparent;
}

.procs:nth-child(3) .header-edu {
     // background-color: rgba(29, 38, 113, 0.1);
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.1), rgba(195, 55, 100, 0.1)), url("/realty/assets/Special.jpg");
    background: linear-gradient(rgba(29, 38, 113, 0.1), rgba(195, 55, 100, 0.1)), url("/realty/assets/Special.jpg"); /* The least supported option. */
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;
    
}

.procs:nth-child(2) .header-edu {
    background: -webkit-linear-gradient( rgba(195, 55, 100, 0.1), rgba(29, 38, 113, 0.1)), url("/realty/assets/R-START.jpg");
    background: linear-gradient( rgba(195, 55, 100, 0.1), rgba(29, 38, 113, 0.1)), url("/realty/assets/R-START.jpg"); /* The least supported option. */
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;

}
.procs:nth-child(2) .header-edu:hover {
    background: -webkit-linear-gradient(  rgba(29, 38, 113, 0.8),rgba(128, 128, 128, 0.6)), url("/realty/assets/R-START.jpg");
    background: linear-gradient( rgba(128, 128, 128, 0.8), rgba(29, 38, 113, 0.8)), url("/realty/assets/R-START.jpg"); /* The least supported option. */
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: right;
    background-position-y: center;
}
.procs:nth-child(1) .header-edu:hover div {
    // justify-content: flex-end!important;
  
    justify-content: center;
    width: 40%;
}
.procs:nth-child(1) .header-edu div {
    width: 40%;
    justify-content: center!important;
}
.procs:nth-child(1) .header-edu:hover {
    background: -webkit-linear-gradient(rgba(29, 38, 113, 0.54),  rgba(195, 55, 100, 0.8)), url("/realty/assets/PP.jpg");
    background: linear-gradient(rgba(29, 38, 113, 0.54), rgba(195, 55, 100, 0.8)), url("/realty/assets/PP.jpg"); /* The least supported option. */
    background-repeat: no-repeat;
    background-size: 80%;
    // background-position-x: left;
    background-position-y: center;
    background-position-x: center;
}
.procs:nth-child(3) .header-edu:hover {
    background-color: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("/realty/assets/Special.jpg"); //rgba(120,120,120,0.8); // 
    background: linear-gradient(#afae88b8,#365899);
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("/realty/assets/Special.jpg"); /* The least supported option. */
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;
    justify-content: center!important;
    text-align: center;
    align-items: left;
}
.procs:nth-child(3) .header-edu:hover div {
    justify-content: center!important;
    // margin-left: 6vw;
}
.procs .header-edu div {
    visibility: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.procs .header-edu:hover div{
    padding: 20px;
    visibility: visible;
    display: flex;
    justify-items: center;
    align-items: center;
    // align-items: center;
    text-align: center;
    color: white;
    font-size: normal;
}
// .procs .header-edu:hover {
 
//     align-items: flex-end;
 
// }
.procs .header-edu img {
   object-fit: cover;
}
.procs .header-edu {
    // padding: 10px;
    display: flex;
    justify-items: center;
    // align-items: flex-end;
    align-self: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

:host div div .cdk-global-overlay-wrapper {
    display: flex; width: 79%;
}

div.cdk-overlay-container {
    position: fixed;
    top: 0;
    z-index: 100500;
    height: 49%;
    width: 99%;
    background-color: antiquewhite;
}

.hideOverlay {
    display: none;
}

.backDropOverlay {



    background-color: rgba(120,120,120,0.8)
}


.cdk-overlay-container .panel-Container {
    overflow-y: auto;
}
.cdk-overlay-container .panel-Container::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.cdk-overlay-container .cdk-overlay-backdrop-showing {
    //.cdk-overlay-backdrop.backdropOverlay
// .cdk-overlay-container .backdropOverlay
    background: white;
    position: fixed;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    background-color: rgba(120,120,120,0.9);
    z-index: 10000;
         pointer-events: all !important;
      
    -webkit-tap-highlight-color: transparent;
    transition: opacity 1000  'ease-in', background 1000 'ease-in';
    opacity: 0;

    &.cdk-overlay-backdrop-showing {
      opacity: 0.48;
    }
  }


.header-edu-desc > div {
    // padding: 84px;
    // max-width: 80%;
display: flex;
// flex-direction: column;
}
.header-edu-desc {
    // width: 80%;
    // width: 32%;
    padding: 20px;
    // margin-left: auto;
    // margin-right: auto;
    // text-align: justify;
// display: flex;
flex-direction: column;
align-items: center;
justify-items: center;

display: inline-block;
    width: calc( 100% - 115px);
    padding: 19px;
    vertical-align: middle;
}

.procs, .conses {
    display: flex;
    align-items: start;
    flex-direction: column;
    position: relative;
    // padding-right: 2%; // padding-right: 11%;
    // width: 100%;
}
.three-columns-respons {
    // width: 100%;
    padding: 10px;
    flex-direction: row!important;
    padding-right: 85px;
    /* padding-left: 85px; */
}
.three-columns-wrapper  {
    // padding: 105px;
 //    width: 100%;
 width: 100%;
 flex-direction: column;  
 
}
.mobile_width_wrapper {
    width: 74vw;
}

.welcome-text {
    width: 95%;
}

@media all and  (min-width: 0px) and (max-width: 1100px) {
      .procs {
        width: auto!important;
        margin-left: auto;
        margin-right: auto;
      }
        
    .welcome-text {
        width: 74vw;
        margin-left: auto;
        margin-right: auto;
    }
    .proc, .cons {
        width: calc( 100% - 100px); 
    }
    .mobile_width_wrapper {
        width: calc( 100% );
    }
    .three-columns-respons {
        // padding-right: 105px;
        // width: 100%;
        // padding-right: 150px;
        display: block;
        padding-right: 10px;
        padding-left: 10px;
        flex-direction: column!important;
    }
    .three-columns-wrapper  {
           // padding: 105px;
        //    width: 100%;
        flex-direction: row;
    }
}
.procs {
    // min-width: 30%;
    // width: 30%;
    flex-direction: row;
    display: flex;
    align-items: center;
    // margin-right: 3%;    
    justify-items: stretch;     justify-content: stretch;
}
.proc, .cons {
    display: inline-block;
    // float: right;
    width: calc( 100% - 115px);
    padding: 19px;
    vertical-align: middle;
}

svg {
    display: inline-block;
    justify-content: stretch;   
    justify-items: stretch;
}

.who {
    flex-direction: column;
    padding-left: 29px;
}
.who div svg {
    vertical-align: middle;
}