<div *cdkPortal  class="cdk_container"> 

    <app-loader #LoaderComponent [app-overlayLoading]="emitter" [loaderData]="overlayData" (closePanel)="closePanel($event)" *ngIf="overlayData !== null && overlayData.title !== ''"  >
      <!-- we put here internal content from Different Sides of Site:-->
      <div  class="Praktikum">
          <ng-container *ngIf="overlayData.loaderType==='Praktikum'">
              <!--font-family: Oswald; -->
              <div style="width: 75%; margin-left: auto; margin-right: auto; height: auto; display: flex; flex-direction: column; align-items: center; justify-content: center;
              font-weight: normal; 
              -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
              background-color: rgba(200,200,200,0.9);
                -webkit-box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
                -moz-box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
                box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
                padding: 2% 4% 2% 4%; font-size: large"
              >
                <div
                style=" background-repeat: no-repeat; background-size: 100%; width: 100%; height: auto; display: flex; flex-direction: column; align-items: center; justify-content: center; padding-left: 2vw;"
            
                >
                <h1 style="text-align: left; font-size: xx-large">Обучающий курс для риэлторов "Практика успешных партнерских продаж недвижимости"</h1>
                <!-- <h2 style="color: rgb(218, 142, 44)">Автор проекта, организатор и один из спикеров Маргарита Погосбекова, </h2> -->
                <p style="font-size: larger">
                  <img src="{{ (env.appRoot.length > 0? '/' : '') + env.appRoot + '/assets/PP.jpg' }}" style="float: left; margin-right: 51px; width: 295px; height: auto; border-radius: 72%; display: flex">
                    <!-- <b>Обучающий курс продвинутых знаний риэлторской профессии.</b> Автор курса Маргарита Погосбекова.  -->
                    <!-- Это обучающий проект для тех, кто хочет начать зарабатывать деньги, продавая недвижимость. Опытные практикующие риэлторы помогут быстро понять, подходит ли эта работа лично Вам и какие навыки стоит совершенствовать прежде всего. -->
                    Основной проект, рассчитанный на практиков с опытом работы, называется "Практикум партнерства". С уважением к Вашему опыту, мы рассказываем о новых возможностях, которые открывает перед риэлторами и их клиентами логика системы MLS, основанная на столетнем опыте работы коллег США, Канады и других стран. Технология адаптируется под региональные особенности и проверена личным опытом спикеров. То, что мы рекомендуем, мы сами применяем в личной практике с 2014 года и имеем массу положительных результатов и замеченных особенностей. Опыт систематизирован и структурирован, каждый практикум - полезен и интересен.
                  </p> 
                    <!-- Курс строится из блоков, которые в свою очередь состоят из подтем
                    Курс касается основ профессии - где брать клиентов, как объяснить им важность услуги, что нужно уметь делать, чтобы продавать или помогать покупать недвижимость успешнее, чем это может сделать сам клиент.
                    Перечень блоков ниже: -->
                <ul style="margin-top: 0px; font-size: larger">
                    <li><b>Практикум № 1</b>. "Логика партнерских продаж - основы системы МЛС"
                    <li><b>Практикум № 2.</b> "Риэлтор и собственник недвижимости: как выстроить доверительные отношения"
                    <li><b>Практикум № 3.</b> "Определение стартовой цены объекта недвижимости: практические приемы«
                    <li><b>Практикум № 4.</b> "Практические приемы концентрации спроса на продаваемом объекте – маркетинг овые приемы«
                    <li><b>Практикум № 5.</b> "Управление спросом при продаже квартиры по максимальной цене
                    <li><b>Практикум № 6.</b> "Риэлтор и покупатель: особенности работы в партнерской системе. Приемы цивилизованного торга"
                    <li><b>Практикум № 7.</b> "Риэлтор и деньги"
                    <li><b>Практикум № 8.</b> Избранное
                </ul>
                <mat-accordion *ngIf="false">
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          Блок № 1. За что платят риэлтору.
                      </mat-panel-title>
                      <mat-panel-description>
                        <!-- This is a summary of the content -->
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <div class="panel-region-main" style="flex-direction: row; display: flex; align-items: center;
                    justify-content: center;">
                      <span class="material-icons">
                          arrow_right
                      </span>
                      <div>
                        <!-- <p>This is the primary content of the panel.</p> -->
                        <p>
                            Для тех, кто хочет понять, сможет он работать в продаже недвижимости или нет.  Мастер-класс опытных практикующих риэлторов "За что платят риэлтору" - как выбрать свою нишу в сфере продажи недвижимости, которая гарантированно принесет высокий стабильный заработок, учитывая личные способности и предпочтения
                            Продолжительность – 4 часа. 
                        </p>
                        <!-- content for details page-->
                        <!--Стажеры в агентство недвижимости приходя, конечно, вне сезона. Но осенью часто бывает, что их число увеличивается. Правда? 
            А тут еще в разгаре горячая пора продажи и аренды, повышенная активность клиентов...
            Хорошо, если в вашем агентстве есть отработанная система обучения. Но ведь содержат штатных тренеров не всегда экономически обосновано. Как дети идут в сентябре в школу, так и стажеров можно направить поучиться к том, кто такие курсы уже подготовил. 
            Но как понять, нравится ли вам подача материала именно этим тренером? Хотите ли вы, чтобы именно он учил ваших сотрудников? Готовы ли вы корректировать свой бизнес-процесс с учетом того, чему научат ваших стажеров?
            Для этого мы построили программу так, первый блок - это квинтэссенция темы. 
            Все четыре тренера со своими мини мастер-классами.
            Вопросы, которые которые витают в воздухе, но однозначных ответов на них не могут дать даже агенты со стажем.
            -->
                      </div>
                    </div>
                    <mat-action-row>
                      <button mat-button><span class="material-icons">event</span> Записаться</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          Блок № 2. Практикум "Как продавать недвижимость."
                      </mat-panel-title>
                      <mat-panel-description>
                        <!-- This is a summary of the content -->
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <div class="panel-region-main" style="flex-direction: row; display: flex; align-items: center; justify-content: center;">
                      <span class="material-icons">
                          arrow_right
                      </span>
                      <span class="material-icons">
                          arrow_right
                      </span>
                      <div>
                      <p> 
                        Чем действия профессионала отличаются от самостоятельной продажи собственником. Чему можно быстро научиться, чтобы уже в первый месяц работы заработать хорошие деньги" - 2 занятия по 4 часа. Включают в себя мастер-классы, лекции с пошаговой инструкцией, которую сразу можно применять в работе, и практическую часть для закрепления материала   
                        Продолжительность – 2 занятия по 4 часа.</p>
                      </div>
                    </div>
                
                    <mat-action-row>
                      <button mat-button><span class="material-icons">event</span> Записаться</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>
                <p>
                  <!-- {{ /* matCarouselSlide.disabled */ }} -->
                </p>  
              </div>
                <button 
                  mat-raised-button color="primary"
                  (click)="router.navigate(['realtors-course','workshop'])"
                >
                  Программа курса
                </button>
                <button 
                mat-raised-button  color="accent" style="margin-top: 15px;"
                (click)="navigateToSubscribe('workshop')"
              >
                Зарегистрироваться
              </button>
              </div>
          </ng-container>
        </div>
        <div  class="Start">
            <ng-container *ngIf="overlayData.loaderType==='Start'">
                <div
                style="
                width: 60%; margin-left: auto; margin-right: auto; height: auto; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: rgba(200,200,200,0.9);
                -webkit-box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
                -moz-box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
                box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
                padding: 2%;"
                class="start-theme"
               >
                  <div
                  style=" background-repeat: no-repeat; text-align: justify; background-size: 100%; width: 100%; height: auto; display: flex; flex-direction: column; align-items: flex-start; justify-content: center;"
                 >
                  <h1 style="text-align: left; font-size: xx-large">R-Start. Как стать риэлтором</h1>
                  <!-- <h2 style="color: rgb(218, 142, 44)">Автор проекта, организатор и один из спикеров Маргарита Погосбекова, {{ 2020 }}</h2> -->
                  <p style="font-size: larger">
                    <img src="{{ (env.appRoot.length > 0? '/' : '') + env.appRoot + '/assets/R-START.jpg' }}" style="float: left; margin-right: 51px; width: 295px; height: auto; border-radius: 72%; display: flex; text-align: left">
                    Обучающий проект для тех, кто хочет начать зарабатывать деньги, продавая недвижимость. Опытные практикующие риэлторы помогут быстро понять, подходит ли эта работа лично Вам и какие навыки стоит совершенствовать прежде всего.
                    Курс касается основ профессии - где брать клиентов, как объяснить им важность услуги, что нужно уметь делать, чтобы продавать или помогать покупать недвижимость успешнее, чем это может сделать сам клиент.

                  <br><br>
                  Курс состоит из пяти блоков:
                  </p>
                  <ol style="list-style-type:square; font-size: larger">
                      <li>Блок №1. За что платят риэлтору</li>
                      <li>Блок №2. Особенности продажи квартира</li>
                      <li>Блок №3. Как правильно выбрать квартиру</li>
                      <li>Блок №4. Поиск клиентов и продажа объекта</li>
                      <li>Блок №5. Базовые знания: документы, планировки, ипотека и т.д.</li>
                  </ol>
                  <mat-accordion *ngIf="false">
                    <mat-expansion-panel [expanded]="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            Блок № 1. За что платят риэлтору.
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- This is a summary of the content -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                  
                      <div class="panel-region-main" style="flex-direction: row; display: flex; align-items: center;
                      justify-content: center;">
                        <span class="material-icons">
                            arrow_right
                        </span>
                        <div>
                          <!-- <p>This is the primary content of the panel.</p> -->
                          <p>
                              Для тех, кто хочет понять, сможет он работать в продаже недвижимости или нет.  Мастер-класс опытных практикующих риэлторов "За что платят риэлтору" - как выбрать свою нишу в сфере продажи недвижимости, которая гарантированно принесет высокий стабильный заработок, учитывая личные способности и предпочтения
                              Продолжительность – 4 часа. 
                          </p>
                          <!-- content for details page-->
                          <!--Стажеры в агентство недвижимости приходя, конечно, вне сезона. Но осенью часто бывает, что их число увеличивается. Правда? 
              А тут еще в разгаре горячая пора продажи и аренды, повышенная активность клиентов...
              Хорошо, если в вашем агентстве есть отработанная система обучения. Но ведь содержат штатных тренеров не всегда экономически обосновано. Как дети идут в сентябре в школу, так и стажеров можно направить поучиться к том, кто такие курсы уже подготовил. 
              Но как понять, нравится ли вам подача материала именно этим тренером? Хотите ли вы, чтобы именно он учил ваших сотрудников? Готовы ли вы корректировать свой бизнес-процесс с учетом того, чему научат ваших стажеров?
              Для этого мы построили программу так, первый блок - это квинтэссенция темы. 
              Все четыре тренера со своими мини мастер-классами.
              Вопросы, которые которые витают в воздухе, но однозначных ответов на них не могут дать даже агенты со стажем.
              -->
                        </div>
                      </div>
                      <mat-action-row>
                        <button mat-button><span class="material-icons">event</span> Записаться</button>
                      </mat-action-row>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            Блок № 2. Практикум "Как продавать недвижимость."
                        </mat-panel-title>
                        <mat-panel-description>
                          <!-- This is a summary of the content -->
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                  
                      <div class="panel-region-main" style="flex-direction: row; display: flex; align-items: center; justify-content: center;">
                        <span class="material-icons">
                            arrow_right
                        </span>
                        <span class="material-icons">
                            arrow_right
                        </span>
                        <div>
                        <p> 
                          Чем действия профессионала отличаются от самостоятельной продажи собственником. Чему можно быстро научиться, чтобы уже в первый месяц работы заработать хорошие деньги" - 2 занятия по 4 часа. Включают в себя мастер-классы, лекции с пошаговой инструкцией, которую сразу можно применять в работе, и практическую часть для закрепления материала   
                          Продолжительность – 2 занятия по 4 часа.
                        </p>
                        </div>
                      </div>
                  
                      <mat-action-row>
                        <button mat-button><span class="material-icons">event</span> Записаться</button>
                      </mat-action-row>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <p>
                    <!-- {{ /* matCarouselSlide.disabled */ }} -->
                  </p>  
                </div>
                  <button  
                    mat-flat-button color="primary"
                    (click)="router.navigate(['realtors-course','start'])"
                  >
                    Программа курса
                  </button>
                  <button
                  mat-raised-button color="accent" style="margin-top: 15px; color: white"
                  (click)="navigateToSubscribe('workshop')"
                >
                  Предварительная запись
                </button>
                </div>
            </ng-container>
          </div>
          <div class="Special">
              <ng-container *ngIf="overlayData.loaderType==='Special'">
                  <div
                  style="width: 75%; margin-left: auto; margin-right: auto; height: auto; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: rgba(200,200,200,0.9);
                  -webkit-box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
                  -moz-box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
                  box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
                  padding: 2%;"
                  class="special-theme"
                  >
                    <div
                    style=" background-repeat: no-repeat; text-align: justify; margin-bottom: 15px; background-size: 100%; width: 100%; height: auto; display: flex; flex-direction: column; align-items: flex-start; justify-content: center;"
                    >
                    <div style="width: 100%">
                    <h1 style="text-align: left; font-size: xx-large">Проект "Специальные программы"</h1>
                    <h2>Денежные потоки в коммерческой недвижимости.
                        Кирпичики финансовой грамотности</h2>
                      </div>
                      <div style="width: 100%">
                        <img src="{{ (env.appRoot.length > 0? '/' : '') + env.appRoot + '/assets/Special.jpg' }}" style="float: left; margin-right: 51px; width: 295px; height: auto; border-radius: 72%; display: flex; text-align: left">
                        <!-- <br/> -->
                        <!-- <h2 style="color: rgb(218, 142, 44)">Автор проекта, организатор и один из спикеров Маргарита Погосбекова, {{ 2020 }}</h2> -->
                    <div style="font-size: larger; display: inline-block;"> <!--- width: 44%; min-width: 407px;-->
                      Для риэлторов, которые всерьез занимаются коммерческой недвижимостью! Набираем вторую группу!
                      Живой авторский семинар-практикум на стыке продаж и девелопмента!  Елена Помазан - девелопер, девелопер, АССА, MRICS , член CFA Institute
                      
                      <br/><br/>
                      <div style="width: 100%">🔥 Сколько стоит не просто коммерческая недвижимость, а действующий бизнес.<br/>
                      🔥 Отличия в оценке как набора активов и оценки денежных потоков<br/>
                      🔥 Лучшее и наиболее эффективное использование земельного участка или объекта недвижимости и многое другое...<br/>
                      </div>
                    </div>
                  </div>
                   
                    <!-- <br><br>
                    Курс состоит из пяти блоков:
                    </p>
                    <ol style="list-style-type:square; font-size: larger">
                        <li>Блок №1. За что платят риэлтору</li>
                        <li>Блок №2. Особенности продажи квартира</li>
                        <li>Блок №3. Как правильно выбрать квартиру</li>
                        <li>Блок №4. Поиск клиентов и продажа объекта</li>
                        <li>Блок №5. Базовые знания: документы, планировки, ипотека и т.д.</li>
                    </ol>
                    <mat-accordion *ngIf="false">
                      <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              Блок № 1. За что платят риэлтору.
                          </mat-panel-title>
                          <mat-panel-description>
                            // This is a summary of the content 
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <div class="panel-region-main" style="flex-direction: row; display: flex; align-items: center;
                        justify-content: center;">
                          <span class="material-icons">
                              arrow_right
                          </span>
                          <div>
                            //<p>This is the primary content of the panel.</p>
                            <p>
                                Для тех, кто хочет понять, сможет он работать в продаже недвижимости или нет.  Мастер-класс опытных практикующих риэлторов "За что платят риэлтору" - как выбрать свою нишу в сфере продажи недвижимости, которая гарантированно принесет высокий стабильный заработок, учитывая личные способности и предпочтения
                                Продолжительность – 4 часа. 
                            </p>
                            // content for details page
                //           Стажеры в агентство недвижимости приходя, конечно, вне сезона. Но осенью часто бывает, что их число увеличивается. Правда? 
                А тут еще в разгаре горячая пора продажи и аренды, повышенная активность клиентов...
                Хорошо, если в вашем агентстве есть отработанная система обучения. Но ведь содержат штатных тренеров не всегда экономически обосновано. Как дети идут в сентябре в школу, так и стажеров можно направить поучиться к том, кто такие курсы уже подготовил. 
                Но как понять, нравится ли вам подача материала именно этим тренером? Хотите ли вы, чтобы именно он учил ваших сотрудников? Готовы ли вы корректировать свой бизнес-процесс с учетом того, чему научат ваших стажеров?
                Для этого мы построили программу так, первый блок - это квинтэссенция темы. 
                Все четыре тренера со своими мини мастер-классами.
                Вопросы, которые которые витают в воздухе, но однозначных ответов на них не могут дать даже агенты со стажем.
                
                          </div>
                        </div>
                        <mat-action-row>
                          <button mat-button><span class="material-icons">event</span> Записаться</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              Блок № 2. Практикум "Как продавать недвижимость."
                          </mat-panel-title>
                          <mat-panel-description>
                            // This is a summary of the content
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <div class="panel-region-main" style="flex-direction: row; display: flex; align-items: center; justify-content: center;">
                          <span class="material-icons">
                              arrow_right
                          </span>
                          <span class="material-icons">
                              arrow_right
                          </span>
                          <div>
                          <p> 
                            Чем действия профессионала отличаются от самостоятельной продажи собственником. Чему можно быстро научиться, чтобы уже в первый месяц работы заработать хорошие деньги" - 2 занятия по 4 часа. Включают в себя мастер-классы, лекции с пошаговой инструкцией, которую сразу можно применять в работе, и практическую часть для закрепления материала   
                            Продолжительность – 2 занятия по 4 часа.</p>
                          </div>
                        </div>
                    
                        <mat-action-row>
                          <button mat-button><span class="material-icons">event</span> Записаться</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    </mat-accordion> 
                    <p>
                      // {{ /* matCarouselSlide.disabled */ }} 
                    </p>  -->
                  </div>
                    <button
                      mat-flat-button
                      (click)="router.navigate(['realtors-course','special'])"
                    >
                      Программа курса
                    </button>
                    <button 
                    mat-raised-button [color]="'accent'" style="margin-top: 15px; color: white"
                    (click)="navigateToSubscribe('special')"
                  >
                    Предварительная запись
                  </button>
                  </div>
              </ng-container>
            
          </div>
    </app-loader>
    </div>
<ng-template cdk-connected-overlay *ngIf="overlayData.loaderType==='Start'" 
    #debugRef="cdkConnectedOverlay" [cdkConnectedOverlayOrigin]="currentConnectedOrigin"
    [cdkConnectedOverlayOpen]="isShowingOverlay"
                >
</ng-template><!--to fix -->

<!-- <ng-template cdk-connected-overlay  *ngIf="overlayData.loaderType==='Praktikum'"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy" [cdkConnectedOverlayOrigin]="trigger2"
    [cdkConnectedOverlayOpen]="isShowingOverlay"
                >
</ng-template>

<ng-template cdk-connected-overlay   *ngIf="overlayData.loaderType==='Special'"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy" [cdkConnectedOverlayOrigin]="trigger3"
    [cdkConnectedOverlayOpen]="isShowingOverlay"
                >
</ng-template> -->

<div #frame style="width: 100%; height: 100%; display: flex; align-items: stretch; position: relative; overflow: visible;">
  <app-mat-carousel

    [autoplay]="'true'"
    timings="250ms ease-in"
    style="min-width: 760px;  min-height: 771px;  display: flex; height: 88vh; position: absolute; top: 0; left: 0; z-index: 10; top: 0; left: 0;"
    [ngStyle]="isPortraitMode ? { 'width': 'auto' } : { 'width': '74vw' }"
    interval="12000"
    color="accent"
    maxWidth="100%"
    proportion="50"
    [slides]="bgImgSources.length"
    [hideArrows]="true"
    [hideIndicators]="true"
    [useKeyboard]="true"

    orientation="ltr"
    [slideHeight]="'auto'"
  >
  ><!--   [useMouseWheel]="true" [loop]="true" -->
  <!--*ngFor="let slide of [1, 2]; let i = index"
      [image]="slide.image"
      -->
    <app-mat-carousel-slide *ngFor="let slidePath of bgImgSources"
      overlayColor="#00000020"
      [hideOverlay]="true"
    >
    <div style="
      min-height: 771px; height: 90vh; justify-self: stretch; overflow-y: auto; flex-direction: column; display: flex; background-repeat: no-repeat; background-size: cover; border-radius: 23px 23px 8px 7px;" [ngStyle]="
      {
          'background-image': slidePath
      }
      "> &nbsp;
      </div>
    </app-mat-carousel-slide>
    <!-- <app-mat-carousel-slide>
        <div *ngIf="isShowingOverlay != true" style="flex-direction: column; display: flex; background-repeat: no-repeat; background-size: cover; position: absolute;; border-radius: 23px 26% 8px 7px;" [ngStyle]="
      {
          'background-image': bgImg2Source 
      }
      ">
      </div>
    </app-mat-carousel-slide> -->
    </app-mat-carousel>
    <!-- Facebook -->
    <div style="position: absolute; right: 0; top: 0">
        <div *ngIf="!isShowingOverlay" [ngStyle]="isPortraitMode ? {'width': '100%', 'position': 'relative', 'bottom': '0'}: {'display': 'inline-flex', 'width': '25vw'}" class="fb-page" data-href="https://www.facebook.com/realtors.workshop/" data-tabs="timeline" data-width="450" data-height="650" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/realtors.workshop/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/realtors.workshop/">Продажа недвижимости: практикум партнерства</a></blockquote></div>
      </div>
      <div *ngIf="isShowingOverlay != true" style="width: 100%; z-index: 20; text-align: center; min-height: 88vh;   background: transparent; flex-direction: column; position: absolute; background-repeat: no-repeat; background-size: cover; border-radius: 23px 26% 8px 7px;" 
       [ngStyle]="isPortraitMode ? { 'width': '100%' } : { 'width': '100%' }"
      >
      <!-- to upper : [ngStyle]="
      {
          'background-image': bgImgSource 
      }
      "-->
        <div class="mobile_width_wrapper" style="min-height: 89vh; padding-bottom: 2vh; display: flex; flex-direction: column; align-items: center; justify-content: space-between;"
        >
          <div
          style="padding-bottom: 24x; backdrop-filter: drop-shadow(2px); background-blend-mode: screen; backdrop-filter: blur(2px); width: 100%; height: auto; display: flex; flex-direction: column; align-items: center; justify-content: center"
          >
          <h1>Открываем новые возможности<!--   /* title */  --></h1>
          <!-- <img [src]="(env.appRoot.length > 0? '/' : '') + env.appRoot + '/assets/M_Logo.png'" style="width: 295px; height: auto; border-radius: 72%; display: flex"> -->
          <div style="width: 100%; 
          /* -webkit-box-shadow: 18px 16px 0px -1px rgba(119,133,128,0.36);
          -moz-box-shadow: 18px 16px 0px -1px rgba(119,133,128,0.36);
          box-shadow: 18px 16px 0px -1px rgba(119,133,128,0.36); */
          width: calc( 100% - 31px);
          height: auto;
          background-color: rgba(120, 120, 120, 0.868);
          padding: 15px;
          "><h2 style=" color: white;">Самые прогрессивные технологии в сфере продаж недвижимости</h2></div>
          <div class="mobile_width_wrapper" style="">
            <div style="width: auto; flex-direction: column;  display: inline-flex; border-radius: 3px; font-weight: 550; padding: 88px; padding-bottom: 32px; background-color: rgba(220, 220, 220, 0.868); color: black; /*padding: 30px 92px 30px 92px!important;*/">
            <span style="margin-top: 2vh; text-align: justify;"><img align="left" style="display: inline-flex;" [src]="(env.appRoot.length > 0? '/' : '') + env.appRoot + '/assets/Margarita.png'" style="width: 303px; /*height: 303px;*/ border-radius: 50%; margin-bottom: 4px; margin-right: 20px">
              Этот курс разработан риэлторами для риэлторов.  Его спикеры – практики, которые каждый день помогают людям продавать и покупать недвижимость. Для нас важно, чтобы рынок недвижимости становился цивилизованным, профессия агента по недвижимости приобрела уважение, оправданное гарантированными результатами.
            Мы подготовили насколько обучающих курсов, основанных на системной работе наших коллег из США и Канады по логике MLS, адаптированной под реалии постсоветского пространства.<br>
            <br/>Все спикеры Практикума применяют то, чему учат, на собственной практике уже по несколько лет, и имеют сотни доказательств, что система работает.
            
            <!-- <br/>Tech revis: {{ !matCarouselSlide.disabled }} -->
            <h2 style="text-align: right; font-size: 32px; margin-top: 20px">Маргарита Погосбекова</h2>
            <h3 style="text-align: right;">Автор проекта, организатор и один из спикеров</h3>  
          </span> 
          <button
            mat-raised-button [color]="'warn'"
            (click)="router.navigate(['realtors-course'])" style="margin-top: 22px; /*width: 20vw; */ margin-left: auto; margin-right: auto"
          >
            Подробнее о курсах
          </button>
          </div>  
          </div>
        </div>
        
          <!-- <p style="text-align: center;">Подробнее о курсах, расчитанных на разные уровни предварительной подготовки, Вы можете ознакомиться в разделе "Обучение" или перейти по кнопке</p> -->
         
        </div>
        <!--content description-->
        <div class="mobile_width_wrapper welcome-text"
          style="display: flex; margin-left:auto; margin-right: auto; border-radius: 23px 23% 8px 7px;
        background-repeat: no-repeat; background-size: 100%; height: auto; padding-bottom: 2vh; display: flex; flex-direction: column; align-self: center; justify-content: space-around; color: black;  padding-bottom: 11px"
        > <!-- background: rgb(255,255,255,0.9);-->
        <div class="three-columns-respons welcome-text" style="padding-top: 104px;">
        <h2 style="text-align: center; width: 74%; margin-left: auto; margin-right: auto">Мы предлагаем обучающие программы для риэлторов различной степени подготовки.</h2>
        <!-- <p>Мы предлагаем обучающие программы для риэлторов различной степени подготовки.  -->
<br/><br/>
          <!-- Основной проект, рассчитанный на практиков с опытом работы, называется "Практикум партнерства". С уважением к Вашему опыту, мы рассказываем о новых возможностях, которые открывает перед риэлторами и их клиентами логика системы MLS, основанная на столетнем опыте работы коллег США, Канады и других стран. Технология адаптируется под региональные особенности и проверена личным опытом спикеров. То, что мы рекомендуем, мы сами применяем в личной практике с 2014 года и имеем массу положительных результатов и замеченных особенностей. Опыт систематизирован и структурирован, каждый практикум - полезен и интересен. -->
          <br/>
          <br/>
            
            <!-- Особую роль играет проект "R-Start. Как стать риэлтором". Здесь то, что должен знать и уметь каждый риэлтор. Его стоит посетить тем, кто только задумался о профессии риэлтора и хочет получить базовые знания. Опытные риэлторы учат тому, что делает агент по недвижимости каждый день. Пошагово, технологично, с примерами речевых оборотов, образцами документам и примерами рекламных материалов. Курс интересен также тем, кто уже работаем в продаже недвижимости какое-то время, но понимает, что что-то идет не так - сложно найти клиентов, объекты продаются очень долго, заработки ниже ожиданий и затраченных усилий. Значит имеет смысл начать перезагрузку, потому что проблема может быть  в неэффективном устаревшем подходе. Если Вы опытный агент, но готовы начать с чистого листа - мы поможем! 
            <br/> -->
            <br/>
            <!-- Проект "Для мастеров недвижимости" - это особые знания, которые совсем не обязательны каждому риэлтору. Это специальные семинары, ориентированные на специалистов в определенном сегменте. Это приглашенные преподаватели, специальные знания и многое другое, что позволяет стать профессионалу настоящим мастером продажи недвижимости!.</p>
            <br/> -->
            <br/>

            <!-- colored blocks -->
          <div class="three-columns-wrapper" style="display: flex; height: auto; align-items: stretch;justify-content: space-around; justify-items: center;">
           
            <div class="three-columns-respons" style="display: flex;  flex-direction: row; 
                  height: auto; align-items: stretch; justify-content: left; justify-items: center; color: black;  justify-items: stretch ">
              
              <!-- block COLUMN or Row responsive -->
              
            
              <!-- procs -->
              <div class="procs" style="flex-direction: column;  ">
                <div class="first">
                  
                    <div style="height: 247px;" class="header-edu" #trigger2="cdkOverlayOrigin" cdkOverlayOrigin (click)="showOverlay('Praktikum')"  style="display: flex; flex-direction: column" >
                        <div style="width:50%; justify-content: center;">Для опытных практиков</div>
                    </div>
                </div>
                <div class="who" style="justify-content: center; justify-items: center; align-self: start; padding-left: 44px; display: flex; flex-direction: column;">
                <!-- Основной проект, рассчитанный на практиков с опытом работы, называется "Практикум партнерства". С уважением к Вашему опыту, мы рассказываем о новых возможностях, которые открывает перед риэлторами и их клиентами логика системы MLS, основанная на столетнем опыте работы коллег США, Канады и других стран. Технология адаптируется под региональные особенности и проверена личным опытом спикеров. То, что мы рекомендуем, мы сами применяем в личной практике с 2014 года и имеем массу положительных результатов и замеченных особенностей. Опыт систематизирован и структурирован, каждый практикум - полезен и интересен. -->

                  <button 
                    mat-raised-button  color="accent" style="margin-top: 15px; display: block; margin-left: auto; margin-right: auto;"
                    (click)="navigateToSubscribe('workshop')"
                  >
                    Зарегистрироваться
                  </button>
                  <div style="display: flex;  flex-direction: row; width: 100%; align-items: center; justify-content: center;"> 
                    <h3 style="text-align: center;">Для кого этот курс "Практикум партнерства"?</h3>
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                    <div class="proc">
                        Для опытных агентов, которые владеют технологиями продаж, но хотят сделать свою работу системной и стабильной
                    </div>
                  </div>
                  <div>
                    <br>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="48" height="48"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                    <div class="proc">
                      Для тех, кто хочет свести к минимуму риски неоплаты комиссионных
                    </div>
                  </div>
                  <div>
                    <br>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="48" height="48"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                    <div class="proc">
                      Для тех, кто хочет понять, как работает система MLS
                    </div>
                  </div>
                  <div>
                    <br>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="48" height="48"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                    <div class="proc">
                      Для тех, кто заметил, что рынок изменился, и хочет работать по-новому, не растеряв постоянных клиентов
                    </div>
                  </div>
                  <br>
              
                </div>
                <div class="header-edu-desc" #trigger2="cdkOverlayOrigin" cdkOverlayOrigin (click)="showOverlay('Praktikum')"> 
                    <h3>Кому не стоит идти?</h3>
                    <div>
                    <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="48" height="48"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M78.83333,7.16667v15.78906c-6.45102,0.75314 -12.87031,1.57943 -18.60254,4.10124l-7.44661,-12.9056l-12.40169,7.16667l7.95052,13.77344c-5.12426,3.80374 -9.4378,8.11727 -13.24154,13.24154l-13.77344,-7.95052l-7.16667,12.40169l12.9056,7.44661c-2.52181,5.73222 -3.3481,12.15151 -4.10124,18.60254h-15.78906v14.33333h15.78906c0.75313,6.45102 1.57943,12.87032 4.10124,18.60254l-12.9056,7.44662l7.16667,12.40169l13.77344,-7.95052c3.80374,5.12427 8.11727,9.4378 13.24154,13.24154l-7.95052,13.77344l12.40169,7.16667l7.44661,-12.9056c5.73222,2.52181 12.15151,3.3481 18.60254,4.10124v15.78906h14.33333v-15.78906c6.45102,-0.75314 12.87032,-1.57943 18.60254,-4.10124l7.44662,12.9056l12.40169,-7.16667l-7.95052,-13.77344c5.12427,-3.80374 9.4378,-8.11727 13.24154,-13.24154l13.77344,7.95052l7.16667,-12.40169l-12.9056,-7.44662c2.52181,-5.73222 3.3481,-12.15151 4.10124,-18.60254h15.78906v-14.33333h-15.78906c-0.75314,-6.45102 -1.57943,-12.87031 -4.10124,-18.60254l12.9056,-7.44661l-7.16667,-12.40169l-13.77344,7.95052c-3.80374,-5.12427 -8.11727,-9.43779 -13.24154,-13.24154l7.95052,-13.77344l-12.40169,-7.16667l-7.44662,12.9056c-5.73222,-2.52181 -12.15151,-3.3481 -18.60254,-4.10124v-15.78906zM78.83333,50.16667h14.33333v43h-14.33333zM78.83333,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg>
                    <div class="cons">Тому, кто хочет продолжать заниматься всем понемногу
                      </div>
                    </div>
                    <div>
                      <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M78.83333,7.16667v15.78906c-6.45102,0.75314 -12.87031,1.57943 -18.60254,4.10124l-7.44661,-12.9056l-12.40169,7.16667l7.95052,13.77344c-5.12426,3.80374 -9.4378,8.11727 -13.24154,13.24154l-13.77344,-7.95052l-7.16667,12.40169l12.9056,7.44661c-2.52181,5.73222 -3.3481,12.15151 -4.10124,18.60254h-15.78906v14.33333h15.78906c0.75313,6.45102 1.57943,12.87032 4.10124,18.60254l-12.9056,7.44662l7.16667,12.40169l13.77344,-7.95052c3.80374,5.12427 8.11727,9.4378 13.24154,13.24154l-7.95052,13.77344l12.40169,7.16667l7.44661,-12.9056c5.73222,2.52181 12.15151,3.3481 18.60254,4.10124v15.78906h14.33333v-15.78906c6.45102,-0.75314 12.87032,-1.57943 18.60254,-4.10124l7.44662,12.9056l12.40169,-7.16667l-7.95052,-13.77344c5.12427,-3.80374 9.4378,-8.11727 13.24154,-13.24154l13.77344,7.95052l7.16667,-12.40169l-12.9056,-7.44662c2.52181,-5.73222 3.3481,-12.15151 4.10124,-18.60254h15.78906v-14.33333h-15.78906c-0.75314,-6.45102 -1.57943,-12.87031 -4.10124,-18.60254l12.9056,-7.44661l-7.16667,-12.40169l-13.77344,7.95052c-3.80374,-5.12427 -8.11727,-9.43779 -13.24154,-13.24154l7.95052,-13.77344l-12.40169,-7.16667l-7.44662,12.9056c-5.73222,-2.52181 -12.15151,-3.3481 -18.60254,-4.10124v-15.78906zM78.83333,50.16667h14.33333v43h-14.33333zM78.83333,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg>
                      <div class="cons">
                          Тому, кто хочет попробовать себя в профессии
                      </div>
                    </div>
                    <div>
                      <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M78.83333,7.16667v15.78906c-6.45102,0.75314 -12.87031,1.57943 -18.60254,4.10124l-7.44661,-12.9056l-12.40169,7.16667l7.95052,13.77344c-5.12426,3.80374 -9.4378,8.11727 -13.24154,13.24154l-13.77344,-7.95052l-7.16667,12.40169l12.9056,7.44661c-2.52181,5.73222 -3.3481,12.15151 -4.10124,18.60254h-15.78906v14.33333h15.78906c0.75313,6.45102 1.57943,12.87032 4.10124,18.60254l-12.9056,7.44662l7.16667,12.40169l13.77344,-7.95052c3.80374,5.12427 8.11727,9.4378 13.24154,13.24154l-7.95052,13.77344l12.40169,7.16667l7.44661,-12.9056c5.73222,2.52181 12.15151,3.3481 18.60254,4.10124v15.78906h14.33333v-15.78906c6.45102,-0.75314 12.87032,-1.57943 18.60254,-4.10124l7.44662,12.9056l12.40169,-7.16667l-7.95052,-13.77344c5.12427,-3.80374 9.4378,-8.11727 13.24154,-13.24154l13.77344,7.95052l7.16667,-12.40169l-12.9056,-7.44662c2.52181,-5.73222 3.3481,-12.15151 4.10124,-18.60254h15.78906v-14.33333h-15.78906c-0.75314,-6.45102 -1.57943,-12.87031 -4.10124,-18.60254l12.9056,-7.44661l-7.16667,-12.40169l-13.77344,7.95052c-3.80374,-5.12427 -8.11727,-9.43779 -13.24154,-13.24154l7.95052,-13.77344l-12.40169,-7.16667l-7.44662,12.9056c-5.73222,-2.52181 -12.15151,-3.3481 -18.60254,-4.10124v-15.78906zM78.83333,50.16667h14.33333v43h-14.33333zM78.83333,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg>
                      <div class="cons">Тому, кто хочет пойти за компанию</div>
                      <!-- Кому не стоит идти -->
                    </div>
                  </div>
                  
              </div>

              <!-- second column -->
            <div class="procs" style="flex-direction: column;">
                <div class="first">
                  <div class="header-edu " #trigger1="cdkOverlayOrigin" cdkOverlayOrigin (click)="showOverlay('Start')" style="height: 247px; background-position-x: center; display: flex; flex-direction: column">
                    <div style="width: 85%; cursor: pointer; display: flex" >Для начинающих</div>
                  </div>
                </div>
              <!-- 'start' procs -->
                  <div class="who start-theme" style="justify-content: center; display: flex" >
                    <button 
                      mat-raised-button  color="accent" style="margin-top: 15px; display: block; margin-left: auto; margin-right: auto; color: white"
                      (click)="navigateToSubscribe('workshop')"
                    >
                      Предварительная запись
                    </button>
                    <!--     <div style="display: flex;  flex-direction: row; width: calc( 96vw - 88px * 2 ); min-width: 895px; -->
                      <h3>Для кого этот курс "R-Start. Как стать риэлтором"?</h3>  
                      <!-- Особую роль играет проект "R-Start. Как стать риэлтором". Здесь то, что должен знать и уметь каждый риэлтор. Его стоит посетить тем, кто только задумался о профессии риэлтора и хочет получить базовые знания. Опытные риэлторы учат тому, что делает агент по недвижимости каждый день. Пошагово, технологично, с примерами речевых оборотов, образцами документам и примерами рекламных материалов. Курс интересен также тем, кто уже работаем в продаже недвижимости какое-то время, но понимает, что что-то идет не так - сложно найти клиентов, объекты продаются очень долго, заработки ниже ожиданий и затраченных усилий. Значит имеет смысл начать перезагрузку, потому что проблема может быть  в неэффективном устаревшем подходе. Если Вы опытный агент, но готовы начать с чистого листа - мы поможем!  -->
                      
                      <div>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="48" height="48"
                        viewBox="0 0 172 172"
                        style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                        <div class="proc">Для тех, кто хочет освоить новую профессию</div>
                      </div>
                      <div>
                      <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                      <div class="proc">Для тех, кто уже работает в агентстве недвижимости,. но понял, что что-то идет не так. И он готов к перезагрузке
                      </div>
                      </div>
                      
                      <div>
                        <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                        <div class="proc">Для руководителя отдела продаж агентства недвижимости, который работает с новичками
                        </div>
                      </div>
                      <div>
                        <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                        <div class="proc">Для тех, кто хочет продать свою недвижимость самостоятельно
                        </div>
                      </div>
                  </div>
                  <div class="conses">
                      <div class="header-edu-desc" #trigger1="cdkOverlayOrigin" cdkOverlayOrigin (click)="showOverlay('Start')" style="align-items: center; padding-left: 44px;">
                          <h3>Кому не стоит идти?</h3>
                          <div>
                          <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                          width="48" height="48"
                          viewBox="0 0 172 172"
                          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M78.83333,7.16667v15.78906c-6.45102,0.75314 -12.87031,1.57943 -18.60254,4.10124l-7.44661,-12.9056l-12.40169,7.16667l7.95052,13.77344c-5.12426,3.80374 -9.4378,8.11727 -13.24154,13.24154l-13.77344,-7.95052l-7.16667,12.40169l12.9056,7.44661c-2.52181,5.73222 -3.3481,12.15151 -4.10124,18.60254h-15.78906v14.33333h15.78906c0.75313,6.45102 1.57943,12.87032 4.10124,18.60254l-12.9056,7.44662l7.16667,12.40169l13.77344,-7.95052c3.80374,5.12427 8.11727,9.4378 13.24154,13.24154l-7.95052,13.77344l12.40169,7.16667l7.44661,-12.9056c5.73222,2.52181 12.15151,3.3481 18.60254,4.10124v15.78906h14.33333v-15.78906c6.45102,-0.75314 12.87032,-1.57943 18.60254,-4.10124l7.44662,12.9056l12.40169,-7.16667l-7.95052,-13.77344c5.12427,-3.80374 9.4378,-8.11727 13.24154,-13.24154l13.77344,7.95052l7.16667,-12.40169l-12.9056,-7.44662c2.52181,-5.73222 3.3481,-12.15151 4.10124,-18.60254h15.78906v-14.33333h-15.78906c-0.75314,-6.45102 -1.57943,-12.87031 -4.10124,-18.60254l12.9056,-7.44661l-7.16667,-12.40169l-13.77344,7.95052c-3.80374,-5.12427 -8.11727,-9.43779 -13.24154,-13.24154l7.95052,-13.77344l-12.40169,-7.16667l-7.44662,12.9056c-5.73222,-2.52181 -12.15151,-3.3481 -18.60254,-4.10124v-15.78906zM78.83333,50.16667h14.33333v43h-14.33333zM78.83333,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg>
                          <div class="cons">Тому, кто рассматривает риэлтинг как "подработку" к основной работе
                            </div>
                          </div>
                          <div>
                            <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            width="48" height="48"
                            viewBox="0 0 172 172"
                            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M78.83333,7.16667v15.78906c-6.45102,0.75314 -12.87031,1.57943 -18.60254,4.10124l-7.44661,-12.9056l-12.40169,7.16667l7.95052,13.77344c-5.12426,3.80374 -9.4378,8.11727 -13.24154,13.24154l-13.77344,-7.95052l-7.16667,12.40169l12.9056,7.44661c-2.52181,5.73222 -3.3481,12.15151 -4.10124,18.60254h-15.78906v14.33333h15.78906c0.75313,6.45102 1.57943,12.87032 4.10124,18.60254l-12.9056,7.44662l7.16667,12.40169l13.77344,-7.95052c3.80374,5.12427 8.11727,9.4378 13.24154,13.24154l-7.95052,13.77344l12.40169,7.16667l7.44661,-12.9056c5.73222,2.52181 12.15151,3.3481 18.60254,4.10124v15.78906h14.33333v-15.78906c6.45102,-0.75314 12.87032,-1.57943 18.60254,-4.10124l7.44662,12.9056l12.40169,-7.16667l-7.95052,-13.77344c5.12427,-3.80374 9.4378,-8.11727 13.24154,-13.24154l13.77344,7.95052l7.16667,-12.40169l-12.9056,-7.44662c2.52181,-5.73222 3.3481,-12.15151 4.10124,-18.60254h15.78906v-14.33333h-15.78906c-0.75314,-6.45102 -1.57943,-12.87031 -4.10124,-18.60254l12.9056,-7.44661l-7.16667,-12.40169l-13.77344,7.95052c-3.80374,-5.12427 -8.11727,-9.43779 -13.24154,-13.24154l7.95052,-13.77344l-12.40169,-7.16667l-7.44662,12.9056c-5.73222,-2.52181 -12.15151,-3.3481 -18.60254,-4.10124v-15.78906zM78.83333,50.16667h14.33333v43h-14.33333zM78.83333,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg>
                            <div class="cons">Тому, кто пришел в профессию, чтоб переждать кризис и заработать хоть что-нибудь
                            </div>
                          </div>
                          <div>
                          <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                          width="48" height="48"
                          viewBox="0 0 172 172"
                          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M78.83333,7.16667v15.78906c-6.45102,0.75314 -12.87031,1.57943 -18.60254,4.10124l-7.44661,-12.9056l-12.40169,7.16667l7.95052,13.77344c-5.12426,3.80374 -9.4378,8.11727 -13.24154,13.24154l-13.77344,-7.95052l-7.16667,12.40169l12.9056,7.44661c-2.52181,5.73222 -3.3481,12.15151 -4.10124,18.60254h-15.78906v14.33333h15.78906c0.75313,6.45102 1.57943,12.87032 4.10124,18.60254l-12.9056,7.44662l7.16667,12.40169l13.77344,-7.95052c3.80374,5.12427 8.11727,9.4378 13.24154,13.24154l-7.95052,13.77344l12.40169,7.16667l7.44661,-12.9056c5.73222,2.52181 12.15151,3.3481 18.60254,4.10124v15.78906h14.33333v-15.78906c6.45102,-0.75314 12.87032,-1.57943 18.60254,-4.10124l7.44662,12.9056l12.40169,-7.16667l-7.95052,-13.77344c5.12427,-3.80374 9.4378,-8.11727 13.24154,-13.24154l13.77344,7.95052l7.16667,-12.40169l-12.9056,-7.44662c2.52181,-5.73222 3.3481,-12.15151 4.10124,-18.60254h15.78906v-14.33333h-15.78906c-0.75314,-6.45102 -1.57943,-12.87031 -4.10124,-18.60254l12.9056,-7.44661l-7.16667,-12.40169l-13.77344,7.95052c-3.80374,-5.12427 -8.11727,-9.43779 -13.24154,-13.24154l7.95052,-13.77344l-12.40169,-7.16667l-7.44662,12.9056c-5.73222,-2.52181 -12.15151,-3.3481 -18.60254,-4.10124v-15.78906zM78.83333,50.16667h14.33333v43h-14.33333zM78.83333,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg>
                          <div class="cons">Тому, кто ожидает получить скрипты и техники, позволяющие манипулировать клиентам - таких не будет!
                          </div>
                          </div>
                      </div>

            </div>
            <!-- < -->
                  <!-- <div class="header-edu procs" #trigger1="cdkOverlayOrigin" cdkOverlayOrigin (click)="showOverlay('Start')" style="height: 247px; background-position-x: center; display: flex; flex-direction: column">
                    <div style="width: 85%; cursor: pointer; display: flex" >Для начинающих</div>
                  </div> -->
            </div>

              <!-- 'special' procs -->
              <div class="procs" style="flex-direction: column;">
                <div class="first">
                    <div class="header-edu" #trigger3="cdkOverlayOrigin" cdkOverlayOrigin (click)="showOverlay('Special')"   style="height: 247px; background-position-x: center; display: flex; flex-direction: column">
                        <div style="width: 100%;  display: flex">Для мастеров недвижимости</div>
                    </div>
                  </div>
                        <!-- procs -->
                  <div class="who special-theme" style=" justify-content: center; align-items: left; display: flex">
                    <button 
                          mat-raised-button  color="accent" style="margin-top: 15px; display: block; margin-left: auto; margin-right: auto; ; color: white"
                          (click)="navigateToSubscribe('special')"
                        >
                          Предварительная запись
                        </button>
                    <!-- Проект "Для мастеров недвижимости" - это особые знания, которые совсем не обязательны каждому риэлтору. Это специальные семинары, ориентированные на специалистов в определенном сегменте. Это приглашенные преподаватели, специальные знания и многое другое, что позволяет стать профессионалу настоящим мастером продажи недвижимости! -->
                    
                    <h3>Для кого "Специальные программы"?</h3>  
                    <!-- Особую роль играет проект "R-Start. Как стать риэлтором". Здесь то, что должен знать и уметь каждый риэлтор. Его стоит посетить тем, кто только задумался о профессии риэлтора и хочет получить базовые знания. Опытные риэлторы учат тому, что делает агент по недвижимости каждый день. Пошагово, технологично, с примерами речевых оборотов, образцами документам и примерами рекламных материалов. Курс интересен также тем, кто уже работаем в продаже недвижимости какое-то время, но понимает, что что-то идет не так - сложно найти клиентов, объекты продаются очень долго, заработки ниже ожиданий и затраченных усилий. Значит имеет смысл начать перезагрузку, потому что проблема может быть  в неэффективном устаревшем подходе. Если Вы опытный агент, но готовы начать с чистого листа - мы поможем!  -->
                    <div>
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                    <div class="proc">Для профессиональных риэлторов, мастеров своего дела, которые хотят перейти на новый уровень</div>
                    </div>
                    <div>
                      <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                      <div class="proc">Для риэлторов, специализирующихся в определенном сегменте, и хотят довести свое мастерство до высшего уровня
                      </div>
                    </div>
                    <div><br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="48" height="48"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#418b0f"><path d="M158.89217,80.84717l-13.64533,-14.104l2.74483,-19.42883c0.559,-3.956 -2.12133,-7.63967 -6.05583,-8.33483l-19.3285,-3.38983l-9.19483,-17.329c-1.86333,-3.51883 -6.19917,-4.93067 -9.7825,-3.17483l-17.63,8.61433l-17.63,-8.61433c-3.58333,-1.75583 -7.91917,-0.344 -9.78967,3.182l-9.19483,17.33617l-19.3285,3.38983c-3.9345,0.688 -6.61483,4.37167 -6.05583,8.32767l2.74483,19.42883l-13.64533,14.104c-2.78067,2.87383 -2.78067,7.42467 0,10.2985l13.64533,14.104l-2.74483,19.42883c-0.559,3.956 2.12133,7.63967 6.05583,8.33483l19.3285,3.38983l9.19483,17.329c1.8705,3.526 6.20633,4.93783 9.79683,3.182l17.62283,-8.6215l17.63,8.61433c3.5905,1.75583 7.91917,0.344 9.79683,-3.182l9.19483,-17.329l19.3285,-3.38983c3.9345,-0.688 6.61483,-4.37883 6.05583,-8.33483l-2.74483,-19.42883l13.64533,-14.104c2.75917,-2.86667 2.75917,-7.42467 -0.01433,-10.2985zM78.83333,117.63367l-26.56683,-26.56683l10.13367,-10.13367l16.43317,16.43317l37.93317,-37.93317l10.13367,10.13367z"></path></g></g></svg>
                    <div class="proc">Для брокеров и руководителей, которые хотят усилить в своем агентстве недвижимости одно из направлений работы</div>
                    </div>
    
                    
                  </div>
                
                  <div class="header-edu-desc" #trigger3="cdkOverlayOrigin" cdkOverlayOrigin (click)="showOverlay('Special')" >
                      <h3>Кому не стоит идти?</h3>
                      <div>
                      <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M78.83333,7.16667v15.78906c-6.45102,0.75314 -12.87031,1.57943 -18.60254,4.10124l-7.44661,-12.9056l-12.40169,7.16667l7.95052,13.77344c-5.12426,3.80374 -9.4378,8.11727 -13.24154,13.24154l-13.77344,-7.95052l-7.16667,12.40169l12.9056,7.44661c-2.52181,5.73222 -3.3481,12.15151 -4.10124,18.60254h-15.78906v14.33333h15.78906c0.75313,6.45102 1.57943,12.87032 4.10124,18.60254l-12.9056,7.44662l7.16667,12.40169l13.77344,-7.95052c3.80374,5.12427 8.11727,9.4378 13.24154,13.24154l-7.95052,13.77344l12.40169,7.16667l7.44661,-12.9056c5.73222,2.52181 12.15151,3.3481 18.60254,4.10124v15.78906h14.33333v-15.78906c6.45102,-0.75314 12.87032,-1.57943 18.60254,-4.10124l7.44662,12.9056l12.40169,-7.16667l-7.95052,-13.77344c5.12427,-3.80374 9.4378,-8.11727 13.24154,-13.24154l13.77344,7.95052l7.16667,-12.40169l-12.9056,-7.44662c2.52181,-5.73222 3.3481,-12.15151 4.10124,-18.60254h15.78906v-14.33333h-15.78906c-0.75314,-6.45102 -1.57943,-12.87031 -4.10124,-18.60254l12.9056,-7.44661l-7.16667,-12.40169l-13.77344,7.95052c-3.80374,-5.12427 -8.11727,-9.43779 -13.24154,-13.24154l7.95052,-13.77344l-12.40169,-7.16667l-7.44662,12.9056c-5.73222,-2.52181 -12.15151,-3.3481 -18.60254,-4.10124v-15.78906zM78.83333,50.16667h14.33333v43h-14.33333zM78.83333,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg>
                      <div class="cons">Тому, кто хочет узнать секрет, который позволит получать легкие деньги</div>
                      </div>
                      <div>
                        <br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M78.83333,7.16667v15.78906c-6.45102,0.75314 -12.87031,1.57943 -18.60254,4.10124l-7.44661,-12.9056l-12.40169,7.16667l7.95052,13.77344c-5.12426,3.80374 -9.4378,8.11727 -13.24154,13.24154l-13.77344,-7.95052l-7.16667,12.40169l12.9056,7.44661c-2.52181,5.73222 -3.3481,12.15151 -4.10124,18.60254h-15.78906v14.33333h15.78906c0.75313,6.45102 1.57943,12.87032 4.10124,18.60254l-12.9056,7.44662l7.16667,12.40169l13.77344,-7.95052c3.80374,5.12427 8.11727,9.4378 13.24154,13.24154l-7.95052,13.77344l12.40169,7.16667l7.44661,-12.9056c5.73222,2.52181 12.15151,3.3481 18.60254,4.10124v15.78906h14.33333v-15.78906c6.45102,-0.75314 12.87032,-1.57943 18.60254,-4.10124l7.44662,12.9056l12.40169,-7.16667l-7.95052,-13.77344c5.12427,-3.80374 9.4378,-8.11727 13.24154,-13.24154l13.77344,7.95052l7.16667,-12.40169l-12.9056,-7.44662c2.52181,-5.73222 3.3481,-12.15151 4.10124,-18.60254h15.78906v-14.33333h-15.78906c-0.75314,-6.45102 -1.57943,-12.87031 -4.10124,-18.60254l12.9056,-7.44661l-7.16667,-12.40169l-13.77344,7.95052c-3.80374,-5.12427 -8.11727,-9.43779 -13.24154,-13.24154l7.95052,-13.77344l-12.40169,-7.16667l-7.44662,12.9056c-5.73222,-2.52181 -12.15151,-3.3481 -18.60254,-4.10124v-15.78906zM78.83333,50.16667h14.33333v43h-14.33333zM78.83333,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg>
                      <div class="cons">Тому, кто ничего не хочет менять в своей работе</div>
                      </div>
                      <div><br><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="48" height="48"
                      viewBox="0 0 172 172"
                      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M78.83333,7.16667v15.78906c-6.45102,0.75314 -12.87031,1.57943 -18.60254,4.10124l-7.44661,-12.9056l-12.40169,7.16667l7.95052,13.77344c-5.12426,3.80374 -9.4378,8.11727 -13.24154,13.24154l-13.77344,-7.95052l-7.16667,12.40169l12.9056,7.44661c-2.52181,5.73222 -3.3481,12.15151 -4.10124,18.60254h-15.78906v14.33333h15.78906c0.75313,6.45102 1.57943,12.87032 4.10124,18.60254l-12.9056,7.44662l7.16667,12.40169l13.77344,-7.95052c3.80374,5.12427 8.11727,9.4378 13.24154,13.24154l-7.95052,13.77344l12.40169,7.16667l7.44661,-12.9056c5.73222,2.52181 12.15151,3.3481 18.60254,4.10124v15.78906h14.33333v-15.78906c6.45102,-0.75314 12.87032,-1.57943 18.60254,-4.10124l7.44662,12.9056l12.40169,-7.16667l-7.95052,-13.77344c5.12427,-3.80374 9.4378,-8.11727 13.24154,-13.24154l13.77344,7.95052l7.16667,-12.40169l-12.9056,-7.44662c2.52181,-5.73222 3.3481,-12.15151 4.10124,-18.60254h15.78906v-14.33333h-15.78906c-0.75314,-6.45102 -1.57943,-12.87031 -4.10124,-18.60254l12.9056,-7.44661l-7.16667,-12.40169l-13.77344,7.95052c-3.80374,-5.12427 -8.11727,-9.43779 -13.24154,-13.24154l7.95052,-13.77344l-12.40169,-7.16667l-7.44662,12.9056c-5.73222,-2.52181 -12.15151,-3.3481 -18.60254,-4.10124v-15.78906zM78.83333,50.16667h14.33333v43h-14.33333zM78.83333,107.5h14.33333v14.33333h-14.33333z"></path></g></g></svg>
                      <div class="cons">Тому, кто доверяет интернету больше, чем практикам</div>
                      </div>
                    </div>
                  </div>
                <!-- <div class="who start-theme" style="justify-content: center; display: flex" > -->
            
            <!-- <div class="procs" style="flex-direction: column; width: auto; margin-left: auto; margin-right: auto;">
                <div class="first">
                </div>
            </div>   -->
          </div>
          
          </div>
          </div>

          <!-- descr about services under them-->
          <!-- <div style="display: flex;  flex-direction: column; width: calc( 96vw - 88px * 2 ); min-width: 895px;
          margin-left: 2vw; 
          margin-right: 2vw; height: auto; align-items: stretch; justify-content: left; justify-items: center; color: black; padding-right: 85px; padding-left: 85px;">
             
              <div class="procs">
               
             
            
              </div>
          </div> -->
          
          <!-- <div style="display: flex; flex-direction: row; width: calc( 96vw - 88px * 2 ); min-width: 895px;
          margin-left: 2vw; 
          margin-right: 2vw; height: auto; align-items: stretch; justify-content: left; justify-items: center; color: black; padding-right: 105px; padding-left: 105px;">
              <div class="conses">
              
                
               
               
              </div>
              </div>  -->
              
          <div style="position: relative; display: flex; align-items: center; margin-top: 88px; margin-bottom: 88px; justify-content: center; height: auto;">
              <iframe width="728" height="410"  src="https://www.youtube.com/embed/FZbrDlfoOSg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          <!-- Testimonials-->
                    
          <div [attr.id]="'Testimonials'" #Testimonials id="Testimonials" class="testimonials" style="display: block; width: 100vw; position: relative; ">
              <div class="wrapper" style="height: auto">
                <div class="intro margin-bottom">
                  <div class="text-label">Отзывы</div>
                  <h2 class="heading-margin-24">Сотни учасников, применяющих полученные знания</h2>
                  <!-- <a href="#"
                    class="button w-inline-block w-clearfix"><img 
                      src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2d32a8066df6d2eab974d_pencil-white.svg" alt=""
                      class="button-icon">
                    <div class="text-left">Leave a Review</div>
                  </a> -->
                </div>
                <!-- <div class="testimonials-v1-columns"> -->
             
                
                <!-- </div> -->
                <app-ng-image-slider [sliderImageHeightAuto]="'auto'" [images]="testimonials" style="height: auto"></app-ng-image-slider>
              </div>
            
                
                </div>
                <div [attr.id]="'Contacts'" #Contacts id="Contacts" class="contacts" style="padding: 3%; height: auto; color: black; display: flex; flex-direction: column; position: static; bottom: 0">
                  Автор и организатор проекта Маргарита Погосбекова
                  <br>
                    <b><a href="tel:+38-067-923-50-37" target="_blank" style="color: chocolate">+38-067-923-50-37</a> (+ Viber, Telegram)</b><br>
                    <b><a href="tel:+38-050-774-95-82" target="_blank" style="color: chocolate">+38-050-774-95-82</a></b><i class="fab fa-whatsapp"></i>  (+ WhatsApp)
                    <br>
                    <b>Facebook:</b><a style="color: black"  href="https://www.facebook.com/realtors.workshop" target="_blank"><i class="fab fa-facebook-square"></i></a>
<!--                     
                    instagram	<i class="fas fa-camera"></i> -->
                    <br>
                    Подать заявку можно удобным для Вас способом, а также на форме перейдя по ссылке из раздела описания курса
                  </div> 

            
            </div>
        <!-- </div> -->
<!-- 
          <div style="position: relative; display: flex; align-items: center; width: 100vw; margin-top: 88px; margin-bottom: 88px; justify-content: center; height: auto;">
            <iframe width="728" height="410"  src="https://www.youtube.com/embed/FZbrDlfoOSg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          -->
         
          
               <!-- <div [attr.id]="'Contacts'" #Contacts class="contacts" style="width: 100vw; padding: 3%; height: auto; color: black; display: flex; flex-direction: column; position: relative; top: 88vh;">
                <b>Телефоны:</b> 000-0000-00<br>
                <b>Контакты:</b> @email, @facebook, @whatsup, Подать заявку можно по форме перейдя по ссылке: <a href="#" >форма для записи на курсы</a>
              </div>  -->
              <!-- <div style="position: absolute; right: 0; top: 0">
                <div *ngIf="!isShowingOverlay" [ngStyle]="isPortraitMode ? {'width': '100%', 'position': 'relative', 'bottom': '0'}: {'display': 'inline-flex', 'width': '25vw'}" class="fb-page" data-href="https://www.facebook.com/realtors.workshop/" data-tabs="timeline" data-width="450" data-height="650" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/realtors.workshop/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/realtors.workshop/">Продажа недвижимости: практикум партнерства</a></blockquote></div>
              </div> -->
               <!-- 100per testimonials-->

      <!--second column - face book bar-->
      <!-- <div *ngIf="!isShowingOverlay" [ngStyle]="isPortraitMode ? {'width': '100%', 'position': 'relative', 'bottom': '0'}: {'display': 'inline-flex', 'width': '25vw', 'position': 'absolute', 'right': '0', 'top': '0'}" class="fb-page" data-href="https://www.facebook.com/realtors.workshop/" data-tabs="timeline" data-width="450" data-height="650" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/realtors.workshop/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/realtors.workshop/">Продажа недвижимости: практикум партнерства</a></blockquote></div> -->
    <!-- </app-mat-carousel-slide> -->
  <!-- <app-mat-carousel-slide
    #matCarouselSlide2
    [image]=" (env.appRoot.length > 0? '/' : '') + env.appRoot + '/assets/M_Logo.png'"
    overlayColor="#00000020"
    [hideOverlay]="true"
  >
  < !-- *ngFor="let slide of [1, 2]; let i = index" -- >
  < ! -- Rstart in Second part of site-- >
  </app-mat-carousel-slide>
  -->
  
  <!-- </app-mat-carousel> -->

  <!--slides as parts of site-->    
  <!-- 
  <mat-card style="display: flex; justify-items: start; align-self: center">
    <mat-card-header>
        <mat-card-title class="page-title" [innerHTML]="home_page_content.title"></mat-card-title>
        <mat-divider></mat-divider>
        <img mat-card-image src="{{home_page_content.pictures_in_front}}" style="height: 60vh; width: auto;">
    </mat-card-header>
    
    <mat-card-content class="page-body">
      < !-- welcome (video in bottom) -- >
      <div [innerHTML]="home_page_content.welcome | safe: 'html'"></div>
      <mat-card *ngFor="let item of home_page_content.advantages_of_our_approach">
        <mat-card-content>
          <h3 [innerHTML]="item.text_for_services">
          </h3>
          <div>
            <img src="{{item.service_picture}}" style="width: 100%">
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <div class="page-footer">
        <mat-icon>whatshot</mat-icon>
      </div>
    </mat-card-footer>
  </mat-card> -->
  <!--   
  app loader was here -->
  <!-- <div *ngIf="!isShowingOverlay" [ngStyle]="isPortraitMode ? {'width': '100%', 'position': 'relative', 'bottom': '0'}: {'display': 'inline-flex', 'width': '25vw', 'position': 'absolute', 'right': '0', 'top': '0'}" class="fb-page" data-href="https://www.facebook.com/realtors.workshop/" data-tabs="timeline" data-width="450" data-height="650" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/realtors.workshop/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/realtors.workshop/">Продажа недвижимости: практикум партнерства</a></blockquote></div> -->
<!--  
</div> -->
