:host mat-carousel ::ng-deep .carousel-slide {
      width: 100%;
      position: relative!important;
      height: auto!important;
}
:host mat-carousel ::ng-deep li.carousel-slide {
      padding: 0px!important;
}
:host  mat-carousel ::ng-deep .carousel-slide-content {
      height: auto!important;
      position: relative!important;
}

:host div.course-block {
    width: 65%;
}  

@media all and (max-width: 900px) {
    :host div.course-block {
        display: flex;
        flex-direction: column!important;
    }  
    :host ::ng-deep .course-image {
        max-height: 389px; 
        // width: 100%;
        max-width: 76%;
        margin-left: auto;
        margin-right: auto;
    }
    //     display: flex!important;
    //     width: 99%;
    //     margin-left: 0;
    //     margin-right: 0;
    //     margin-bottom: 41.5px;
    // } 
}



:host {
    //   color: white;
      scroll-behavior: smooth;

      width: 100%;
    //   width: initial!important;
    
        ::ng-deep router-outlet ~ * {
            position: absolute;
            width: initial!important; //100%;
            height: initial!important;
            top: 0;
            left: 0;
            right: 0;
            // height: calc( 100vh - 64px); /*100%*/
          }    
}
:host h2 {
      
      color: black
      // color: lightgoldenrodyellow;
}
:host ::ng-deep .speakers {
  display: grid!important;
  background: white;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
:host ::ng-deep .header-speaker {
    min-width: 21%;
    height: auto;
    text-align: center;
    // margin-right: 3vw;
    display: block;
    margin-right: 1.0vw;
    margin-left:  1.0vw;
    margin-bottom: 10px;
}

:host ::ng-deep .header-speaker img {
    max-width: 143.406px;
    max-height: 143.406px;
    margin-bottom: 10px;
}
.panel-region-main {
    display: flex; flex-direction: column; border-radius: 3px; background-color: rgba(220, 220, 220, 0.8); color: black; padding: 30px 32px 30px 32px!important;
}

// :host ::ng-deep .faq-block.first {
//     margin-top: -80px;
// }
// :host ::ng-deep .faq-block {
//     padding-top: 10px;
// }

.scrollToIcon {
-webkit-animation: scrolling 3s ease infinite;
-moz-animation: scrolling 3s ease infinite;
-o-animation: scrolling 3s ease infinite;
animation: scrolling 3s ease infinite;

}
@-webkit-keyframes color_change {
	from { color: rgba(0,0,0, 0.4); }
	to { color: rgba(0,0,0, 1); }
}
@-moz-keyframes color_change {
	from { color: rgba(0,0,0, 0.4); }
	to { color: rgba(0,0,0, 1); }
}
@-ms-keyframes color_change {
	from { color: rgba(0,0,0, 0.4); }
	to { color: rgba(0,0,0, 1); }
}
@-o-keyframes color_change {
	from { color: rgba(0,0,0, 0.4); }
	to { color: rgba(0,0,0, 1); }
}
@keyframes color_change {
	from { color: rgba(0,0,0, 0.9); }
	to { 
        transition: color 1s;
        color: rgba(0,0,0, 0.2); }
}
:host  .scrollToIcon span {
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    cursor: pointer;
  
}
// .scrollToIcon:hover {
//     // color:  rgba(0,0,0, 1);
 
// }

@keyframes scrolling {
0% { transform: translate(0);
}
50% {
transform: translate(0,30px);
}
100% { transform: translate(0);
}
}

.faq-nav-heading {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e3e3e3;
}
.sidebar-faq-links {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
h4 {
    margin-top: 0px;
    margin-bottom: 8px;
    font-family: Caladea, sans-serif;
    font-size: 21px;
    line-height: 28px;
    font-weight: 700;
}

.faq-nav-link.w--current {
    background-color: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.11);
    color: #151515;
    font-weight: 700;
    font-size: 1em;
}
.faq-nav-link {
    break-after: avoid-column;
    position: relative;
    z-index: 1;
    display: block;
    padding: 12px 20px;
    border-radius: 7px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #666;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.1em;
}

.sidebar-faq-links {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    
}
.wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    // overflow: hidden;
    // height: calc( 100vh - 64px );
    height: auto;

    // max-width: 1240px;
    // margin-right: auto;
    // margin-left: auto;
    // padding-right: 20px;
    // padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
}
.main-grid {
    position: relative;
    // display: -ms-grid;
    // display: grid;
    width: 100%;
    // grid-auto-columns: 1fr;
    // grid-column-gap: 30px;
    // grid-row-gap: 64px;
    // -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // -ms-grid-rows: auto;
    // grid-template-rows: auto;
    -webkit-perspective: 2000px;
    perspective: 2000px;
}

.faq-sidebar
{
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
    -ms-grid-row-align: start;
    align-self: start;
    padding-right: 6px!important;
}
.faq-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 128px;
    display: -ms-grid;
    display: grid;
    padding-right: 20%;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

:host ::ng-deep .accordion-info {
    height: 0;
    opacity: 0;
    transition: opacity 1.15s ease-out;
    overflow: hidden;
    transition: min-height 1.25s ease-out, 
                opacity 1.15s ease-out; 

    display: block; min-height: 0px; opacity: 0;
}
:host ::ng-deep .accordion-info.animated_Isexpanded {
    display: block!important;
    // animation: opacity 1450ms ease-out;
    // animation: height 1450ms ease-out;
    height: auto!important;
    min-height: 170px!important;
    opacity: 1!important;
}
/* heading style */
:host ::ng-deep .faq-block-heading {
    margin-top: 2px;
    margin-bottom: 32px;
    // width: 90%;
}

:host ::ng-deep app-course-workshop .faq-block p {
    max-width: calc( 100% - 285px );
}
:host ::ng-deep h2 {
    width: 100%;
    margin-top: 0px;
    // margin-bottom: 12px;
    // font-family: Caladea, sans-serif;
    font-size: 31px;
    line-height: 44px;
    font-weight: 700;
}
:host ::ng-deep .text-color-3 {
    color: #853f71;
}

.faq-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 76%!important;
}

:host ::ng-deep .faq-list .accordion-item {
    display: block;
    margin-bottom: -1px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    -webkit-transition: box-shadow 400ms ease, background-color 400ms ease;
    transition: box-shadow 400ms ease, background-color 400ms ease;
    text-align: left;
    width: 75%!important;
}
.accordion-header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 72px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #222;
    cursor: pointer;
}
.accordion-text {
    padding-bottom: 32px;
    color: #666;
}
.faq-row {
    width: 100%;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 8;
    grid-column-start: span 8;
    -ms-grid-column-span: 8;
    grid-column-end: span 8;
}