<div class="page-wrapper">
  <div class="section top-image-section">
    <div class="wrapper">
      <div class="page-intro-left" style="position: relative; overflow-y: scroll; overflow-x: hidden;
      height: calc( 100vh - 64px );
      width: 98%;">
        <!--  (scroll)="onScroll($event)" <div class="breadcrumbs"><a href="/" class="breadcrumbs-link">Home</a>
          <div class="breadcrumbs-arrow"></div>
          <div>FAQ</div>
        </div>
        <h1 class="page-heading">Questions &amp; Answers</h1> -->
        <div class="divider page-intro-divider"></div>
<div #fixedBox style="border-radius: 1%;
position: relative; top:0;
margin-top: 1%;
max-width: 70vw; width: 1280px; 
text-align: justify; min-height: 64vh; display: flex; align-self: flex-start; z-index: 11; padding: 6% 15% 6% 15%; right: 0; left: 0; margin-left: auto;
margin-right: auto; flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 254, 254, 0.829);
    -webkit-box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
    -moz-box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
    box-shadow: 7px 7px 2px -2px rgba(140,140,140,0.8);
    padding: 2%;">
  <!-- <h1>Добро пожаловать на страницу описания курсов риелторского мастерства</h1> -->
  <h1>Курс подготовлен риэлторами для риэлторов.</h1>  
  <!-- Вы можете выбрать из трех разных направлений по уровню своей подготовки (были ли в риелторском деле, хотели бы улучшить свои навыки или узнать специальные "фишки")  -->
 Мы подготовили несколько обучающих курсов, основанной на системной работе наших коллег из США и Канады по системе MLS, и адаптировали их под реалии постсоветского пространства. Все спикеры проекта применяют то, чему учат, на собственном опыте уже несколько лет, и имеют сотни доказательств, что система работает.
  В курс входят следующие направления:
  <ul>
  <li>Основной проект, рассчитанный на практиков с опытом работы, называется "Практикум партнерства". С уважением к
  Вашему опыту, мы рассказываем о новых возможностях, которые открывает перед риэлторами и их клиентами логика системы
  MLS, основанная на столетнем опыте работы коллег США, Канады и других стран. Технология адаптируется под региональные
  особенности и проверена личным опытом спикеров. То, что мы рекомендуем, мы сами применяем в личной практике с 2014
  года и имеем массу положительных результатов и замеченных особенностей. Опыт систематизирован и структурирован, каждый
  практикум - полезен и интересен.
</li>
<li>
  Особую роль играет проект "R-Start. Как стать риэлтором". Здесь то, что должен знать и уметь каждый риэлтор. Его стоит
  посетить тем, кто только задумался о профессии риэлтора и хочет получить базовые знания. Опытные риэлторы учат тому,
  что делает агент по недвижимости каждый день. Пошагово, технологично, с примерами речевых оборотов, образцами
  документам и примерами рекламных материалов. Курс интересен также тем, кто уже работаем в продаже недвижимости
  какое-то время, но понимает, что что-то идет не так - сложно найти клиентов, объекты продаются очень долго, заработки
  ниже ожиданий и затраченных усилий. Значит имеет смысл начать перезагрузку, потому что проблема может быть в
  неэффективном устаревшем подходе. Если Вы опытный агент, но готовы начать с чистого листа - мы поможем!
</li>
<li>
  Проект "Для мастеров недвижимости" - это особые знания, которые совсем не обязательны каждому риэлтору. Это
  специальные семинары, ориентированные на специалистов в определенном сегменте. Это приглашенные преподаватели,
  специальные знания и многое другое, что позволяет стать профессионалу настоящим мастером продажи недвижимости!.
</li>
 </ul>

 <div style="position: relative; width: 100%;" class="scrollToIcon" (click)="scrollTo('scrollOperational')"> <!-- [routerLink]="[ 'realtors-course','workshop']" [fragment]="'scrollOperational'" -->
  
  <span class="material-icons" style="position: absolute; font-size: 1.7em; top: 0; left: 48%; border-radius: 50%; background-color: rgba(244,244,244,0.5)">
    arrow_downward
    </span>
</div>

</div>

  <div style="position: absolute; top:0; left:0;
   min-width: 60vw; min-height: 64vh; " ><img
  src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5eb40051fa63c8450fa6274e_person-holding-pen-and-tablet-computer-3734633.jpg"
  srcset="https://assets.website-files.com/5e996eac7b1321370a14b83a/5eb40051fa63c8450fa6274e_person-holding-pen-and-tablet-computer-3734633-p-800.jpeg 800w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5eb40051fa63c8450fa6274e_person-holding-pen-and-tablet-computer-3734633-p-1600.jpeg 1600w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5eb40051fa63c8450fa6274e_person-holding-pen-and-tablet-computer-3734633.jpg 2000w"
  sizes="100vw" alt="" class="moving-bg page-header-image"
  style="will-change: transform; transform: translate3d(0.00096%, -0.00096%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
  
</div>
  <div class="section haze" style="position: relative; z-index: 1111; margin-top: 2%; ">
    <div class="wrapper" style="background-color: white;">
        <!-- <div style="    text-align: center;
        font-size: xx-large;
        font-weight: bold;
        font-style: italic;
        padding-top: 2%;">
          Программа обучения
        </div>   -->
      <div class="main-grid" style="display: flex;
      justify-content: start;">
        <div id="w-node-32061db55d6a-9514b84d" class="faq-sidebar" style="height: 100vh; width: 100%"  >
          <div class="sidebar-faq-links" style="padding-left: 3%; background-color: whitesmoke; border-bottom-right-radius: 20px;
          padding-right: 12px;">
            <!-- <h4 class="faq-nav-heading">Меню курсов</h4> -->
            <!-- sidebar for second level of COurses-->
            <mat-toolbar color="primart" class="mat-app-background  navbar-expand-md" >
              <mat-toolbar-row class="equal_column_spacer" style="justify-content: left;">
                  <button mat-icon-button matTooltip="Application Menu" (click)="sidenav.toggle()">
                    <mat-icon>menu_open</mat-icon><h4 class="faq-nav-heading" style="display: inline">Меню курсов</h4>
                  </button>
                  <!-- hidden button for opening the menu -->
                  <!-- <div style="min-width: 100px">
                      <a routerLink="environment.appRoot" (click)="item.click()" *ngFor="let item of sideNav.home" aria-hidden="false" aria-disabled="true">
                              < !-- <mat-icon
                                      *ngIf="item.icon">
                                  {{item.icon}}
                              </mat-icon> -- >
                          <img src="https://uploads-ssl.webflow.com/5f1a0e10b068747496909468/5f2213b081e43a34b96015a8_%D0%A3%D0%BB%D0%B8%D1%82%D0%BA%D0%B0.png" style="height: 60px">
                      </a>
                  </div> -->
                  <nav>
                      <div class="mat-emulate-menu-item" *ngIf="!isResponsive">
                          <!-- <ng-container *ngFor="let item of sideNav.commonItems, let ind = index">
                              <button class="list-item list-item-box-shadow " *ngIf="item.isSubmenuHeader!==true  && !sidenav.opened &&!isResponsive" mat-flat-button [color]="currentItemSelected[item.textContent]? 'primary':'accent' " (click)="item.click(item)">
                                      <mat-icon
                                              *ngIf="item.icon">
                                          {{item.icon}}
                                      </mat-icon>
                                      <span class="d-none d-md-inline">{{item.textContent}}</span>
                              </button>
                              <button class="list-item list-item-box-shadow" mat-menu-item *ngIf="item.isSubmenuHeader" color="primary"  [matMenuTriggerFor]="'matMenu' + ind">
                                  < !-- <button  (click)="item.click()"> -- >< !--mat-flat-button-- >
                                      <mat-icon
                                              *ngIf="item.icon">
                                          {{item.icon}}
                                      </mat-icon>
                                      <span class="d-none d-md-inline">{{item.textContent}}</span>
                              </button>
                              < !-- submenu if present-- >
                              <mat-menu *ngIf="item.isSubmenuHeader" [id]="'matMenu'+ ind" #matMenu{{ind}}="matMenu">
                                  <button mat-menu-item *ngFor="let subitem of item.subItems, let jnd = index">
                                  <mat-icon>{{item.icon}}</mat-icon>
                                  <span>{{item.textContent}}</span>
                                  </button>
                              </mat-menu>
                          </ng-container> -->
                      </div>
                  </nav>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-sidenav-container style="height: calc(100% - 64px); margin: 0; position: relative; height: 100vh;">
                  <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" style="width: 240px; margin-top: 1px;">
                      <mat-nav-list dense>
                          <!-- <mat-list-item routerLink="#" *ngFor="let item of topNav.commonItems, let ind = index">
                              <mat-icon *ngIf="item.icon">
                                  {{item.icon}}
                              </mat-icon>
                              <span class="d-none d-md-inline">{{item.textContent}}</span>
                          </mat-list-item> -->
                          <mat-list-item><a  [routerLink]="['/realtors-course/workshop']" [routerLinkActive]="'w--current'" [fragment]="'scrollOperational'" #region_nav1 id="region_nav1" class="faq-nav-link">Практикум партнерских продаж</a> <!-- (click)="scrollTo('FAQ_1')" --></mat-list-item>
                          <mat-list-item><a  [routerLink]="['/realtors-course/start']" [routerLinkActive]="'w--current'" [fragment]="'scrollOperational'" #region_nav2 id="region_nav2" class="faq-nav-link">Обучающий курс "R-Start. Как стать риэлтором"</a> <!--(click)="scrollTo('FAQ_2')"--></mat-list-item>
                          <mat-list-item><a  [routerLink]="['/realtors-course/special']" [routerLinkActive]="'w--current'" [fragment]="'scrollOperational'" #region_nav3 id="region_nav3" class="faq-nav-link">Специальные программы</a> <!--(click)="scrollTo('FAQ_3')" --></mat-list-item>
                          <!-- mat-list-item  *ngFor="let item of sideNav.commonItems, let ind = index" > < !--currentItemSelected[-- >
                              <div *ngIf="item.isSubmenuHeader!==true" mat-raised-button color="primary">
                                  <div  ([*ngClass])="{ 'list-item': true}"  style="display: inline-block" (click)="item.click(item)">
                                      <mat-icon
                                              *ngIf="item.icon" style="margin-right: 3px">
                                          {{item.icon}}
                                      </mat-icon>
                                      <span class="d-none d-md-inline">{{item.textContent}}</span>
                                  </div>
                              </div>
                              <button class="list-item" mat-menu-item *ngIf="item.isSubmenuHeader" color="primary"  [matMenuTriggerFor]="'matMenu' + ind">
                                  < !-- <button  (click)="item.click()"> -- >< !--mat-flat-button-- >
                                      <mat-icon
                                              *ngIf="item.icon">
                                          {{item.icon}}
                                      </mat-icon>
                                      <span class="d-none d-md-inline">{{item.textContent}}</span>
                              </button>
                              < !-- submenu if present-- >
                              <mat-menu *ngIf="item.isSubmenuHeader" [id]="'matMenu'+ ind" #matMenu{{ind}}="matMenu">
                                  <button mat-menu-item *ngFor="let subitem of item.subItems, let jnd = index">
                                  <mat-icon>{{item.icon}}</mat-icon>
                                  <span>{{item.textContent}}</span>
                                  </button>
                              </mat-menu>
                          </mat-list-item>
                          < !-- <mat-list-item routerLink="#"><mat-icon>person</mat-icon>Profile</mat-list-item>
                          <mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</mat-list-item> -->
                          <!-- <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                              <mat-expansion-panel-header>
                                  Preference
                              </mat-expansion-panel-header>
                              <mat-nav-list dense>
                                  <a mat-list-item routerLink="#"><mat-icon>attach_money</mat-icon>Billing</a>
                                  <a mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</a>
                              </mat-nav-list>
                          </mat-expansion-panel>
                          <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                              <mat-expansion-panel-header>
                                  Privacy
                              </mat-expansion-panel-header>
                              <mat-nav-list dense>
                                  <a mat-list-item routerLink="#"><mat-icon>person_add</mat-icon>Partnership Request</a>
                                  <a mat-list-item routerLink="#"><mat-icon>visibility</mat-icon>Profile Visibility</a>
                              </mat-nav-list>
                          </mat-expansion-panel> -->
                      </mat-nav-list>
                  </mat-sidenav>
                  <mat-sidenav-content>
                      <div class="faq-row" style="
                      /* overflow: auto; */
                          /* margin-top: 1%; */
                          max-width: 1280px;
                          /* width: 60vw; */
                          /* width: 100%; */
                          overflow: visible;
                          padding-right: 10px; padding-left: 10px; 
                          " id="scrollOperational"
                          [@routeAnimations]="prepareRoute(outlet)">
                          <router-outlet #outlet="outlet"></router-outlet>
                      </div>
  
                    </mat-sidenav-content>
                  </mat-sidenav-container>
                  <!-- end of sidemenu -->
          </div>
          <!-- <div class="sidebar-video-block">
            <a href="#" class="sidebar-video w-inline-block w-lightbox">
              <div class="play-button small"></div>
            </a>
            <div class="sidebar-video-info">
              <h5>Video Tour</h5>
              <div class="sidebar-video-text">In quo quaerimus non ero tibique si aliquam quaerat voluptatem appetere sine.</div>
              <div class="sidebar-video-time">11:14</div>
            </div>
          </div> -->
  </div>
      
<!-- 4-th block region currently not -->
  <div *ngIf="false" [attr.id]="'FAQ_4'" class="faq-block FAQ-4" #FAQ_4>
    <h2 class="faq-block-heading"><span class="text-color-3">04.</span> Pricing Plans</h2>
    <div class="faq-list">
      <div class="accordion-item">
        <div class="accordion-header">
          <h4 class="accordion-heading">What is a FAQ page?</h4>
          <div class="accordion-plus">
            <div class="plus-line-h"></div>
            <div class="plus-line-v"></div>
          </div>
        </div>
        <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
          <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
            altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
            perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header">
          <h4 class="accordion-heading">Where do I look for “Frequently Asked” Questions?</h4>
          <div class="accordion-plus">
            <div class="plus-line-h"></div>
            <div class="plus-line-v"></div>
          </div>
        </div>
        <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
          <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
            altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
            perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header">
          <h4 class="accordion-heading">Can a FAQ page help with SEO?</h4>
          <div class="accordion-plus">
            <div class="plus-line-h"></div>
            <div class="plus-line-v"></div>
          </div>
        </div>
        <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
          <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
            altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
            perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header">
          <h4 class="accordion-heading">Where should I put my FAQ section?</h4>
          <div class="accordion-plus">
            <div class="plus-line-h"></div>
            <div class="plus-line-v"></div>
          </div>
        </div>
        <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
          <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
            altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
            perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header">
          <h4 class="accordion-heading">Do you have an API?</h4>
          <div class="accordion-plus">
            <div class="plus-line-h"></div>
            <div class="plus-line-v"></div>
          </div>
        </div>
        <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
          <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
            altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
            perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header">
          <h4 class="accordion-heading">Which template is the best for business?</h4>
          <div class="accordion-plus">
            <div class="plus-line-h"></div>
            <div class="plus-line-v"></div>
          </div>
        </div>
        <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
          <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
            altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
            perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
        </div>
      </div>
      <div class="accordion-item">
        <div class="accordion-header">
          <h4 class="accordion-heading">How to use UI kit template?</h4>
          <div class="accordion-plus">
            <div class="plus-line-h"></div>
            <div class="plus-line-v"></div>
          </div>
        </div>
        <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
          <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
            altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
            perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="footer-courses">
      МЫ ГОТОВЫ ДЕЛИТЬСЯ СВОИМ ОПЫТОМ И УЧИТЬСЯ ВМЕСТЕ С ВАМИ! 
      ХОТЯ МЫ ВСЕ РАЗНЫЕ, И КАЖДЫЙ ИЗ СПИКЕРОВ ПРИШЕЛ К СИСТЕМЕ ПАРТНЕРСКИХ ПРОДАЖ И НЕОБХОДИМОСТИ СОЗДАНИЯ В УКРАИНЕ MLS СВОИМ ПУТЕМ, ДОРОГА У НАС СЕЙЧАС ОДНА ЦИВИЛИЗОВАННЫЙ РЫНОК НЕДВИЖИМОСТИ, С ЕДИНЫМИ СТАНДАРТАМИ И ОБЩИМИ СЕРВИСАМИ. 
      <br><br>
      Отзывы участников практикумов можно посмотреть здесь https://www.facebook.com/realtors.workshop/videos/2080659092176196/
  </div>     -->
</div>
</div>
</div>
</div>

<!-- <div data-w-id="4451bde4-9d67-de92-a562-61dd987b7676" class="section mask">
  <div class="wrapper">
    <div class="intro margin-bottom">
      <div class="text-label white">Testimonials</div>
      <h2>Thousands of Happy Customers All Around the&nbsp;World</h2>
    </div>
    <div data-animation="slide" data-duration="500" data-infinite="1" class="testimonials-v5 w-slider">
      <div class="w-slider-mask">
        <div class="testimonials-v5-slide w-slide" style="transform: translateX(0px); opacity: 1;">
          <div class="review-v5"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b1321010814bb3f_Avatar%2030.jpg"
              srcset="https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b1321010814bb3f_Avatar%252030-p-500.jpeg 500w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b1321010814bb3f_Avatar%2030.jpg 800w"
              sizes="88px" alt="" class="review-v5-avatar">
            <div class="review-v5-name">Matthew Hunter</div>
            <div class="review-v5-text">“A successful marketing plan relies heavily on the <span
                class="text-highlighted dark-bg">pulling-power</span> of advertising copy. Writing result-oriented ad
              copy is difficult, as it must consumers to take action.”</div>
            <div class="review-v5-rating">
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
            </div>
          </div>
        </div>
        <div class="testimonials-v5-slide w-slide" style="transform: translateX(0px); opacity: 1;">
          <div class="review-v5"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b13216cf814ba4c_Avatar%2027.jpg"
              srcset="https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b13216cf814ba4c_Avatar%252027-p-500.jpeg 500w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b13216cf814ba4c_Avatar%2027.jpg 800w"
              sizes="88px" alt="" class="review-v5-avatar">
            <div class="review-v5-name">Hollie Shaw</div>
            <div class="review-v5-text">“Grabbing the consumer’s attention isn’t enough. You have to keep that
              attention. This is where your benefits come into play or a <span class="text-highlighted dark-bg">product
                description</span> that sets your offer apart from the others.”</div>
            <div class="review-v5-rating">
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
            </div>
          </div>
        </div>
        <div class="testimonials-v5-slide w-slide" style="transform: translateX(0px); opacity: 1;">
          <div class="review-v5"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b1321011e14bae0_Avatar%2032.jpg"
              srcset="https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b1321011e14bae0_Avatar%252032-p-500.jpeg 500w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b1321011e14bae0_Avatar%2032.jpg 800w"
              sizes="88px" alt="" class="review-v5-avatar">
            <div class="review-v5-name">Melissa Russell</div>
            <div class="review-v5-text">“How you write <span class="text-highlighted">your advertising</span> copy will
              be based on where you will place your ad. You’ll need a super catchy headline.”</div>
            <div class="review-v5-rating">
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
            </div>
          </div>
        </div>
        <div class="testimonials-v5-slide w-slide" style="transform: translateX(0px); opacity: 1;">
          <div class="review-v5"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b1321ff6314bac3_Avatar%2019.jpg"
              alt="" class="review-v5-avatar">
            <div class="review-v5-name">Theresa Ellis</div>
            <div class="review-v5-text">“A successful marketing plan relies heavily on the <span
                class="text-highlighted">pulling-power</span> of advertising copy. Writing result-oriented ad copy is
              difficult, as it must consumers to take action.”</div>
            <div class="review-v5-rating">
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
            </div>
          </div>
        </div>
        <div class="testimonials-v5-slide w-slide" style="transform: translateX(0px); opacity: 1;">
          <div class="review-v5"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b1321d97a14bade_Avatar%2021.jpg"
              alt="" class="review-v5-avatar">
            <div class="review-v5-name">Patrick Wright</div>
            <div class="review-v5-text">“Grabbing the consumer’s attention isn’t enough. You have to keep that
              attention. This is where your benefits come into play or a <span class="text-highlighted">product
                description</span> that sets your offer apart from the others.”</div>
            <div class="review-v5-rating">
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
            </div>
          </div>
        </div>
        <div class="testimonials-v5-slide w-slide" style="transform: translateX(0px); opacity: 1;">
          <div class="review-v5"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b132121a314baf7_avatar-12.jpg"
              alt="" class="review-v5-avatar">
            <div class="review-v5-name">Logan Rogers</div>
            <div class="review-v5-text">“A successful marketing plan relies heavily on the <span
                class="text-highlighted">pulling-power</span> of advertising copy. Writing result-oriented ad copy is
              difficult, as it must consumers to take action.”</div>
            <div class="review-v5-rating">
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
              <div class="review-star white"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-button w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="slider-button right w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="slider-nav testimonials-v5-nav w-slider-nav w-round">
        <div class="w-slider-dot w-active" data-wf-ignore=""></div>
        <div class="w-slider-dot" data-wf-ignore=""></div>
        <div class="w-slider-dot" data-wf-ignore=""></div>
      </div>
    </div>
  </div><img
    src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2ad2977792070f5d5f6c3_creative-space-desk-office-3841067.jpg"
    id="Testimonials"
    srcset="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2ad2977792070f5d5f6c3_creative-space-desk-office-3841067-p-500.jpeg 500w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2ad2977792070f5d5f6c3_creative-space-desk-office-3841067-p-800.jpeg 800w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2ad2977792070f5d5f6c3_creative-space-desk-office-3841067-p-1600.jpeg 1600w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2ad2977792070f5d5f6c3_creative-space-desk-office-3841067.jpg 2000w"
    sizes="100vw" alt="" class="moving-bg testimonials-v5-bg"
    style="will-change: transform; transform: translate3d(-0.00096%, 0.00096%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
</div> -->
<!-- <div class="section">
  <div class="wrapper">
    <div class="intro no-margin-bottom">
      <div class="icon-box color-3"><img
          src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2d3293291997b85993f96_cube-white.svg" alt=""
          class="icon"></div>
    </div>
  </div>
</div> -->
<!-- <div class="footer-v1">
  <div class="wrapper">
    <div class="w-layout-grid footer-v1-grid">
      <div id="w-node-40d42ecc7be8-d1822f9d" class="footer-v1-info"><a href="/" class="footer-v1-brand w-nav-brand">
          <div>Workflow UI Kit</div>
        </a>
        <div class="footer-v1-description">We create amazing Webflow templates for creative people all around the world
          and help businesses grow.</div>
      </div>
      <div class="footer-v1-block">
        <h4 class="footer-heading">Navigation</h4><a href="/" class="footer-link">Home</a><a href="/components/features"
          class="footer-link">Services</a><a href="/pricing/pricing-2" class="footer-link">Pricing</a><a
          href="/blog-layouts/blog-3" class="footer-link">Blog</a>
        <div class="footer-link-box"><a href="/pages/about-1" class="footer-link">About</a><a href="/pages/contact-1"
            class="footer-link-badge">We're Hiring</a></div><a href="/pages/contact-2" class="footer-link">Contact</a>
      </div>
      <div class="footer-v1-block">
        <h4 class="footer-heading">Template</h4><a href="/template/style-guide" class="footer-link">Style Guide</a><a
          href="/template/instructions" class="footer-link">Instructions</a><a href="/template/licensing"
          class="footer-link">Licenses</a><a href="/template/changelog" class="footer-link">Changelog</a>
      </div>
      <div id="w-node-213b09e4b74f-d1822f9d" class="footer-v1-block">
        <h4 class="footer-heading">Get in Touch</h4>
        <div class="w-layout-grid footer-instagram"><a href="https://instagram.com" target="_blank"
            class="footer-insta-block w-inline-block"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acde387c003b71712d88_photo-of-man-standing-in-front-of-people-3182829.jpg"
              srcset="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acde387c003b71712d88_photo-of-man-standing-in-front-of-people-3182829-p-500.jpeg 500w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acde387c003b71712d88_photo-of-man-standing-in-front-of-people-3182829-p-800.jpeg 800w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acde387c003b71712d88_photo-of-man-standing-in-front-of-people-3182829-p-1080.jpeg 1080w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acde387c003b71712d88_photo-of-man-standing-in-front-of-people-3182829.jpg 1200w"
              sizes="(max-width: 479px) 22vw, (max-width: 767px) 23vw, (max-width: 1279px) 24vw, 295.5px" alt=""
              class="footer-insta-photo">
            <div class="footer-instagram-hover"
              style="transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
            </div>
          </a><a href="https://instagram.com" target="_blank" class="footer-insta-block w-inline-block"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acdf52f0aa559adb3751_woman-in-front-of-her-computer-3059745.jpg"
              srcset="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acdf52f0aa559adb3751_woman-in-front-of-her-computer-3059745-p-1080.jpeg 1080w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acdf52f0aa559adb3751_woman-in-front-of-her-computer-3059745.jpg 1200w"
              sizes="(max-width: 479px) 22vw, (max-width: 767px) 23vw, (max-width: 1279px) 24vw, 295.5px" alt=""
              class="footer-insta-photo">
            <div class="footer-instagram-hover"
              style="transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
            </div>
          </a><a href="https://instagram.com" target="_blank" class="footer-insta-block w-inline-block"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acddb6a15ea8fe5ff4b7_person-writing-on-white-paper-3815585.jpg"
              srcset="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acddb6a15ea8fe5ff4b7_person-writing-on-white-paper-3815585-p-800.jpeg 800w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acddb6a15ea8fe5ff4b7_person-writing-on-white-paper-3815585.jpg 1200w"
              sizes="(max-width: 479px) 22vw, (max-width: 767px) 23vw, (max-width: 1279px) 24vw, 295.5px" alt=""
              class="footer-insta-photo">
            <div class="footer-instagram-hover"
              style="transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
            </div>
          </a><a href="https://instagram.com" target="_blank" class="footer-insta-block w-inline-block"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acde387c001331712d87_photo-of-people-leaning-on-wooden-table-3182754.jpg"
              srcset="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acde387c001331712d87_photo-of-people-leaning-on-wooden-table-3182754-p-500.jpeg 500w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acde387c001331712d87_photo-of-people-leaning-on-wooden-table-3182754-p-800.jpeg 800w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acde387c001331712d87_photo-of-people-leaning-on-wooden-table-3182754-p-1080.jpeg 1080w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2acde387c001331712d87_photo-of-people-leaning-on-wooden-table-3182754.jpg 1200w"
              sizes="(max-width: 479px) 22vw, (max-width: 767px) 23vw, (max-width: 1279px) 24vw, 295.5px" alt=""
              class="footer-insta-photo">
            <div class="footer-instagram-hover"
              style="transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
            </div>
          </a></div>
        <div class="footer-contact"><img
            src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2d32ab6a15e351d60c5c8_marker-white.svg"
            alt="" class="footer-contact-icon">
          <div>4293 Euclid Avenue, Los&nbsp;Angeles, <br>CA 90012</div>
        </div><a href="mailto:your@email.com?subject=Subject" class="footer-contact w-inline-block"><img
            src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2d32942802b2df055e147_email-white.svg"
            alt="" class="footer-contact-icon">
          <div>webflow@template.com</div>
        </a>
        <div class="footer-contact"><img
            src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2d329329199300b993f99_phone-white.svg"
            alt="" class="footer-contact-icon">
          <div>+1 (234) 567-08-91</div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <div class="social-icons-small"><a href="https://twitter.com" target="_blank"
            class="social-link-small w-inline-block"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2d32c4304927fc9bab560_twitter-white.svg"
              alt="" class="social-icon-small"></a><a href="https://facebook.com" target="_blank"
            class="social-link-small w-inline-block"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2d32995e67d04ae36111a_facebook-white.svg"
              alt="" class="social-icon-small"></a><a href="https://instagram.com" target="_blank"
            class="social-link-small w-inline-block"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2d32ac0c91ee8fbc524a1_instagram-white.svg"
              alt="" class="social-icon-small"></a><a href="https://pinterest.com" target="_blank"
            class="social-link-small w-inline-block"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2d32ac0c91e272ec524a2_pinterest-white.svg"
              alt="" class="social-icon-small"></a><a href="https://youtube.com" target="_blank"
            class="social-link-small w-inline-block"><img
              src="https://assets.website-files.com/5e996eac7b1321370a14b83a/5ea2d32cb6a15e93a360c5d0_youtube-white.svg"
              alt="" class="social-icon-small"></a></div>
      </div>
      <div class="footer-bottom-right">
        <div>Crafted by <a href="https://elasticthemes.com" target="_blank" class="link-white">Elastic Themes</a></div>
        <div class="dot-divider white"></div>
        <div>Powered by <a href="https://webflow.com/" target="_blank" class="link-white">Webflow</a></div>
      </div>
    </div> -->
  <!-- </div>
</div> -->
</div>
<!--old vers-->
<mat-card  *ngIf="false" style="display: flex; justify-items: start; align-self: center">
  <mat-card-header>
      <mat-card-title class="page-title" [innerHTML]="home_page_content.title"></mat-card-title>
      <mat-divider></mat-divider>
      <img mat-card-image src="{{home_page_content.pictures_in_front}}" style="height: 60vh; width: auto;">
  </mat-card-header>
  
  <mat-card-content class="page-body">
    <!-- welcome (video in bottom) -->
    <div [innerHTML]="home_page_content.welcome | safe: 'html'"></div>
    <mat-card *ngFor="let item of home_page_content.advantages_of_our_approach">
      <mat-card-content>
        <h3 [innerHTML]="item.text_for_services">
        </h3>
        <div>
          <img src="{{item.service_picture}}" style="width: 100%">
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer>
    <div class="page-footer">
      <mat-icon>whatshot</mat-icon>
    </div>
  </mat-card-footer>
</mat-card>
  