<div *ngIf="fileUrl" class="review-v1-avatar"> <!--class="custom-image-main">-->
    <img class="image"
        [ngClass]="{'ratio': ratio}"
        *ngIf="type === IMAGE && fileUrl"
        [src]="fileUrl"
        [alt]="alt"
        [title]="title">
    <iframe class="youtube"
        *ngIf="type === YOUTUBE && fileUrl"
        [src]="fileUrl"
        frameborder="0"
        allow="autoplay"
        allowfullscreen></iframe>
    <video class="video"
        [id]="'video_' + imageIndex"
        [ngClass]="{'ratio': ratio}"
        (click)="videoClickHandler($event)"
        [autoplay]="videoAutoPlay"
        *ngIf="type === VIDEO"
        type="video/mp4"
        [attr.controls]="showVideoControls ? showVideoControls : null"
        controlsList="nodownload">
        <source [src]="fileUrl" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div [dir]="direction" *ngIf="!fileUrl" class="invalid-msg">Invalid file format</div>
    <span *ngIf="type === YOUTUBE || type === VIDEO || isVideo" class="youtube-icon"></span>
</div>