    
  <div class="FAQ-3 faq-block special-theme" #FAQ_3 [attr.id]="'FAQ_3'">
    
      <!-- <h2 class="faq-block-heading"><span class="text-color-3">03.</span> Специальные программы. Коммерческая недвижимость</h2> -->
      
      <div class="faq-block-heading" style="text-align: left; width: 90%;
        font-size: xx-large;
        font-weight: bold;
        font-style: italic;
        padding-top: 2%; margin-left: auto; margin-right: auto;">
                  Программа обучения по курсу "Специальные программы"
      </div>
      <div style="display: flex;
      align-content: center;
      width: 100%;
      flex-direction: column;
      justify-content: center;">
        <div class="course-block" style="margin-bottom: 22px; display: flex;  text-align: justify; vertical-align: top;     text-align: center;">
          <img class="course-image" src="/realty/assets/Special.jpg" style="width: auto; height: auto; min-height: auto; max-width: 76vw; /*max-height: 196px;*/ margin-left: auto; margin-right: auto; margin-bottom: 22px; display: inline-block; /*margin-left: 41.5px; margin-right: 41.5px; */">  
          <div style="display: flex;
          align-content: center;
          width: 86%;
          /* margin-left: auto; */
          /* margin-right: auto;*/
          flex-direction: column;
          justify-content: start;
          align-self: center;"> 
            <h2 style="line-height: 1.3em; margin-top: 0px;">ДЕНЕЖНЫЕ ПОТОКИ В КОММЕРЧЕСКОЙ НЕДВИЖИМОСТИ.</h2> 
            <h2 style="line-height: 1.3em; margin-top: 0px;">КИРПИЧИКИ ФИНАНСОВОЙ ГРАМОТНОСТИ</h2>
          </div>
        </div>
        <button style="margin-left: auto;
        display: flex;
        flex-direction: column;
        width: auto;
        vertical-align: bottom;
        margin-right: auto; color: black; text-shadow: white" mat-raised-button color="accent">Предварительная запись</button>  
      </div>

            <!-- <img src="/realty/assets/Special.jpg" style="float: left; max-height: 196px; height: auto; margin-left: 11.5px; margin-right: 31.5px; margin-bottom: 22px "> -->
      <!-- </div> -->
      <br>
      <div  style="margin-bottom: 22px; margin-left: 11.5px;">
          <!-- <h2 style="line-height: 1.3em">ДЕНЕЖНЫЕ ПОТОКИ В КОММЕРЧЕСКОЙ НЕДВИЖИМОСТИ.</h2> 
          <h2 style="line-height: 1.3em">КИРПИЧИКИ ФИНАНСОВОЙ ГРАМОТНОСТИ</h2> -->
<!-- <br> -->
<!-- <u>"кирпичики финансовой грамотности"</u> -->
<img class="course-image" src="/realty/assets/Special/Commerce_realty.jpg" style="padding-right: 62px; float: left; height: auto; margin-top: 8px; /*margin-left: 11.5px; margin-right: 41.5px;*/ margin-bottom: 22px ">             
<br><br><br>
<h2>ФУНДАМЕНТ</h2>

<li> Когда недвижимость самом деле ценна? 

<li> Денежный поток - анализ простых цифр 

<li> доходность собственного капитала 

<li> Практика расчета ключевых показателей 

<li> финансовая отчетность: чем денежный поток отличается от прибыли?
  <br>
<h2 style="clear: left">НЕСУЩИЕ КОНСТРУКЦИИ</h2>

<li> прогноз денежных потоков по проекту 

<li> доходы и расходы - проформа 

<li> Что обязательно знать при прогнозировании 

<li> Девелопмент

  <br>

<h2>ЧЕТВЕРТОЕ ИЗМЕРЕНИЕ НЕДВИЖИМОСТИ - ВРЕМЯ </h2>

Насколько точно деньги стоят сегодня больше, чем через год? 

<li>Техника дисконтирования денежных потоков простым языком



<h2>Входная группа </h2>

<li> принятие инвестиционных решений 

<li> Внутренняя норма доходности и чистая приведенная стоимость 

<li>Техника оценки привлекательности проектов

  <br>

<h2>ТЕМЫ:</h2>

<li> Управление денежными потоками в реализации проектов недвижимости

<li> принятие решений на основе создания стоимости 

<li> новейший подход "Agile" и управления денежными потоками

<li> Триада проекта коммерческой недвижимости: как сформировать предложение для инвестора

<li> оценка лучшие и самые ЭФФЕКТИВНОГО ИСПОЛЬЗОВАНИЯ НЕДВИЖИМОСТИ (HIGHEST AND BEST USE)

<li> Как увеличить стоимость объекта коммерческой недвижимости 

<li> ограничение при выборе 

<li> техника проверки 

<li> принятие решений в Украине: практика

<li> ИНВЕСТИЦИОННЫЕ СОГЛАШЕНИЯ Какие деньги на каком этапе Проекта можно привлекать в Украину?

<li> Инвестиционные соглашения -Источники информации -Оценка ставки капитализации
        </div>
        <!-- speakers -->
        <br>
        <h2 style="clear: both; padding-top: 20px;">Спикеры курса "Специальные программы"</h2>
        <div style="align-items: stretch; justify-content: space-around; width: 99%; display: grid; flex-direction: row;     
        height: auto;
        padding-top: 22px;
        padding-bottom: 10px;" class="speakers">
          <div class="header-speaker">
            <img src="/realty/assets/Special/Елена Помазан1.jpg">
            <div style="width: 90%; cursor: pointer; justify-content: center;" >Елена Помазан</div>
          </div>
          <div class="header-speaker">
              <img src="/realty/assets/Олег Меньшиков R-Start.png">
            <div style="width: 90%; justify-content: center;">Олег Меньшиков</div>
          </div>
          <div class="header-speaker">
            <img src="/realty/assets/Маргарита Погосбекова R-Start.jpg">
            <div style="width: 90%; justify-content: center;">Маргарита Погосбекова</div>
          </div>
        </div>
      <div class="faq-list">
        <div class="accordion-item">
          <div class="accordion-header">
            <h4 class="accordion-heading">Мастер-класс - практикум "Коммерческая недвижимость" - ... на стыке продаж недвижимости и девелопмента</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
            <div class="accordion-text">
                
            </div>
          </div>
        </div>
        <!-- <div class="accordion-item">
          <div class="accordion-header">
            <h4 class="accordion-heading">Where do I look for “Frequently Asked” Questions?</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="blockExpand($event)">
            <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
              altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
              perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">
            <h4 class="accordion-heading">Can a FAQ page help with SEO?</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="blockExpand($event)">
            <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
              altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
              perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">
            <h4 class="accordion-heading">Where should I put my FAQ section?</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="blockExpand($event)">
            <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
              altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
              perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">
            <h4 class="accordion-heading">Do you have an API?</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="blockExpand($event)">
            <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
              altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
              perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">
            <h4 class="accordion-heading">Which template is the best for business?</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="blockExpand($event)">
            <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
              altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
              perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header">
            <h4 class="accordion-heading">How to use UI kit template?</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" style="height: 0px; opacity: 0;" (click)="blockExpand($event)">
            <div class="accordion-text">Certe, inquam, pertinax non emolumento aliquo, sed et quasi involuta aperiri,
              altera prompta et inter mediocrem animadversionem atque insitam in bonis sit sentiri haec putat, ut
              perspiciatis, unde omnis iste natus error sit extremum et negent satis esse admonere.</div>
          </div>
        </div> -->
      </div>
      <button  (click)="navigateToSubscribe('special')" style="margin-left: auto;
        display: flex;
        flex-direction: column;
        width: auto;
        vertical-align: bottom;
        margin-right: auto; margin-bottom: 65px; color: black; text-shadow: white" mat-raised-button color="accent">Предварительная запись</button>  
    </div>