<div class="ng-image-slider" width="95%" [ngStyle]="{'height':sliderImageHeightAuto}"> <!--+'px'-->
    <div class="ng-image-slider-container"><!--+'px'-->
        <div class="main"
            [ngStyle]="{'height':sliderImageHeightAuto}" 
            #sliderMain>
            <div class="main-inner"
                *ngIf="imageObj.length"
                [ngClass]="{'with-ng-main-pagination': paginationShow}"
                [ngStyle]="{'margin-left':leftPos+'px', 'width':imageParentDivWidth+'px', 'transition': effectStyle}"
                (touchstart)="swipe($event, 'start')"
                (touchend)="swipe($event, 'end')">
                <!--(click)="imageOnClick(img.index)"-->
                <div *ngFor="let img of imageObj; let i = index"
                    [ngClass]="{'image-popup': imagePopup, 'selected-image': activeImageIndex == i}"
                    [ngStyle]="{ 'margin-left':imageMargin+'px', 'margin-right':imageMargin+'px'}"
                    class="img-div"
                    width="95%"
                    (mouseenter)="stopSlideOnHover && imageMouseEnterHandler()"
                    (mouseleave)="stopSlideOnHover && imageAutoSlide()"
                    #imageDiv>
                    <div class="review-v1"
                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    <div class="review-v1-author">
                        <custom-img [imageUrl]="img?.thumbImage || img?.posterImage || img?.video"
                            [isVideo]="!!(img?.posterImage || img?.video)"
                            [alt]="img?.alt || img?.title || ''"
                            [title]="img?.title || img?.alt || ''"
                            [direction]="textDirection"
                        ><!--    [ratio]="manageImageRatio"-->
                        </custom-img>
                        <div class="review-v1-info" >
                            <div class="review-v1-name">{{img?.name}}</div>
                                <!-- <div class="review-v1-company">Chief developer at Google</div> -->
                        </div>
                    <!-- </div> -->
                    <!-- <img
                        src="/realty/assets/Testimonials/Юлия Корниенко.jpg"
                        sizes="72px" alt="" class="review-v1-avatar"> -->
                        <!-- srcset="https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b1321010814bb3f_Avatar%252030-p-500.jpeg 500w, https://assets.website-files.com/5e996eac7b1321370a14b83a/5e996eac7b1321010814bb3f_Avatar%2030.jpg 800w" -->
                    </div>
                    <div class="review-v1-text">“{{img?.review}}”</div>
                    <div class="review-v1-rating">
                      <div class="review-star"></div>
                      <div class="review-star"></div>
                      <div class="review-star"></div>
                      <div class="review-star"></div>
                      <div class="review-star"></div>
                    </div>
                  </div>
                    
                    <!-- <div [dir]="textDirection" class="caption" *ngIf="img?.title">{{ img?.title }}</div> -->
                </div>
            </div>
            <div class="ng-image-slider-error"
                *ngIf="!imageObj.length">
                <span class="ng-image-slider-loader"></span>
            </div>
            <a *ngIf="showArrowButton && imageObj.length > 1"
                [ngClass]="{'disable': sliderPrevDisable}"
                class="prev icons prev-icon"
                (click)="prev()"
                (mouseenter)="stopSlideOnHover && imageMouseEnterHandler()"
                (mouseleave)="stopSlideOnHover && imageAutoSlide()">&lsaquo;</a>
            <a *ngIf="showArrowButton && imageObj.length > 1"
                [ngClass]="{'disable': sliderNextDisable}"
                class="next icons next-icon"
                (click)="next()"
                (mouseenter)="imageMouseEnterHandler()"
                (mouseleave)="imageAutoSlide()">&rsaquo;</a>
        </div>
        <div *ngIf="imageObj.length && paginationShow" class="ng-main-pagination">{{visiableImageIndex + 1}} of {{totalImages}}</div>
    </div>
</div>
<div *ngIf="ligthboxShow">
    <slider-lightbox
        [paginationShow]="paginationShow"
        [showVideoControls]="showVideoControls"
        [arrowKeyMove]="arrowKeyMove"
        [images]="ligthboxImageObj"
        [infinite]="infinite"
        [animationSpeed]="speed"
        [imageIndex]="activeImageIndex"
        [show]="ligthboxShow"
        [direction]="textDirection"
        [videoAutoPlay]="videoAutoPlay"
        (prevImage)="lightboxArrowClickHandler($event)"
        (nextImage)="lightboxArrowClickHandler($event)"
        (close)="close()">
    </slider-lightbox>
</div>