<div [attr.id]="'FAQ_2'" class="FAQ-2 faq-block" #FAQ_2>
      <!-- <h2 class="faq-block-heading"><span class="text-color-3">02.</span> Практикум профессионального продавца недвижимости</h2> -->
      <div class="faq-block-heading" style="text-align: left;
      font-size: xx-large;
      font-weight: bold;
      font-style: italic;
      padding-top: 2%;">
        Программа обучения по курсу "Практикум партнерства"
      </div>
      <div style="display: flex;
      align-content: center;
      width: 87%;
      flex-direction: column;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;">
        <div class="course-block" style="margin-bottom: 22px; display: flex;  text-align: justify; vertical-align: top;">
          <img class="course-image" src="/realty/assets/PP.jpg" style="min-height: 389px; height: auto; display: flex; /*margin-left: 41.5px;*/ /*margin-right: 41.5px;*/">  
          Этот курс разработан риэлторами для риэлторов.  Его спикеры – практики, которые каждый день помогают людям продавать и покупать недвижимость. Для нас важно, чтобы рынок недвижимости становился цивилизованным, профессия агента по недвижимости приобрела уважение, оправданное гарантированными результатами.
            Мы подготовили несколько обучающих курсов, основанных на системной работе наших коллег из США и Канады по логике MLS, адаптированной под реалии постсоветского пространства. 
            Все спикеры Практикума применяют то, чему учат, на собственной практике уже по несколько лет, и имеют сотни доказательств, что система работает.
        </div>
        <button (click)="navigateToSubscribe('workshop')" style="margin-left: calc( 389px + 14% );
        display: flex;
        flex-direction: column;
        vertical-align: bottom; margin-left: auto;
        margin-right: auto;" mat-raised-button color="accent">Зарегистрироваться</button>  
      </div>
     <!-- speakers -->
      <br>
      <h2 style="clear: both; padding-top: 20px;">Спикеры курса "Практикум партнерства"</h2>
      <div class="speakers" style="align-items: stretch; justify-content: space-around; width: 99%; display: flex; flex-direction: row;     
      height: auto;
      padding-top: 22px;
      padding-bottom: 10px;">
        <div class="header-speaker">
          <img src="/realty/assets/Александр Гришко.jpg">
          <div style="width: 90%; cursor: pointer; justify-content: center;" >Александр Гришко</div>
        </div>
        <div class="header-speaker">
            <img src="/realty/assets/Елена Маленкова.png">
            <div style="width: 90%; cursor: pointer; justify-content: center;" >Елена Маленкова</div>
          </div>
        <div class="header-speaker">
            <img src="/realty/assets/Олег Меньшиков R-Start.png">
          <div style="width: 90%; justify-content: center;">Олег Меньшиков</div>
        </div>
        <div class="header-speaker">
          <img src="/realty/assets/Александр Недобор RStart.jpg">
          <div style="width: 90%; justify-content: center;">Александр Недобор</div>
        </div>
        <div class="header-speaker">
          <img src="/realty/assets/Маргарита Погосбекова R-Start.jpg">
          <div style="width: 90%; justify-content: center;">Маргарита Погосбекова</div>
        </div>
      </div>
      <div class="faq-list">
          <div class="accordion-item">
              <div class="accordion-header" (click)="service.animateBlock(accord6)">
                <h4 class="accordion-heading">О чем пойдет речь?</h4>
                <div class="accordion-plus">
                  <div class="plus-line-h"></div>
                  <div class="plus-line-v"></div>
                </div>
              </div>
              <div data-ix="new-interaction" class="accordion-info" #accord6 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
                <div class="accordion-text">
                  О чем пойдет речь: <br><br>Логика продажи недвижимости, элементы технологической карты, разбор реальных примеров, образцы презентаций и отчетов, аргументы для клиентов.
                  <br>
                  Практикум-интенсив подготовлен на основе курса повышения мастерства для риэлторов, состоящего из сами практикумов по четыре часа каждый. В двухдневносм интенсиве собрано самое главное из того, что изучаем на практикумах. Мероприятие ориентировано на опытных риэлторов, которые хотят разобраться в преимуществах технологии партнерских продаж. 
                  <ul>
                  <li>	Что такое цивилизованный рынок недвижимости? 
                  <li>	В чем ценность риэлторской услуги
                  <li>	Почему партнерство - это выгодно всем?
                  <li>	Работа с собственником недвижимости. Мотивация, лояльность и эксклюзивный договор
                  <li>	Краеугольный камень рынка - цена объекта 
                  <li>	Стратегия успешной продажи объекта 
                  <li>	Как возможна концентрация покупательского спроса на конкретном продаваемом объекте? 
                  <li>	Основы управления спросом и технология получение наилучшего предложения от покупателя
                  <li>	Особенности работы с покупателем в условиях MLS 
                  <li>	Финансовые парадоксы в MLS 
                  <li>	Перспективы развития партнерских продаж - зачем рынку недвижимости единые стандарты
                  </ul>
                  Возможна коррекция с учетом особенностей ситуации именно в вашем городе!
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header" (click)="service.animateBlock(accord7)">
                <h4 class="accordion-heading">Введение</h4>
                <div class="accordion-plus">
                  <div class="plus-line-h"></div>
                  <div class="plus-line-v"></div>
                </div>
              </div>
              <div data-ix="new-interaction" class="accordion-info" #accord7 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
                <div class="accordion-text">
                    <h3>П<span style="text-transform: lowercase;">ЕРСПЕКТИВЫ ЛОКАЛЬНЫХ</span> МЛС <span>в Украине</span></h3>
                    Мы пришли в профессию не на один день. И от того, как мы выстраиваем взаимоотношения между коллегами сегодня, зависит будущее риэлтинга. 
                    <br><br>
                    Мы уже знаем, как работает MLS в США и Канаде. У нас уже есть масса примеров, что в каждой сделке должно быть два риэлтора, и каждый из них пусть представляет интересы своей стороны. И дело абсолютно не в том, кто оплачивает работу, а в том, в чьих интересах ты работаешь, кто тебе поверил. "Мы в ответе за тех, кого приручили", и не потому, что он тебе заплатил...
                    <br><br>
                    Сложно. Неоднозначно. В каких-то моментах хочется поспорить. В каких-то ситуациях обидно и больно. Но в этом нужно разобраться.
                    <br><br>
                    Спикеры - опытные практикующие риэлторы, активные сторонники создания МЛС в Украине. Но на практикуме будем говорить не о политике профессии, а о практических аспектах создания партнерской поддержки.
                    <br><br>
                    Будем разбирать конкретные кейсы, моделировать ситуации, взвешивать преимущества и оценивать риски. Мы поделимся речевыми оборотами, которые используем сами для создания взаимопонимания с коллегами.
                    <br><br>
                    Мы учтем ситуацию в Киеве по состоянию "на сейчас", постараемся сделать это исключительно в интересах наших клиентов, риэлторского бизнеса и пользы дела. 
                    <br><br>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header" (click)="service.animateBlock(accord8)">
                <h4 class="accordion-heading">Тема 1.  Логика партнерских продаж - основы системы МЛС</h4>
                <div class="accordion-plus">
                  <div class="plus-line-h"></div>
                  <div class="plus-line-v"></div>
                </div>
              </div>
              <div data-ix="new-interaction" class="accordion-info" #accord8 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
                <div class="accordion-text">
                    Мы пришли в профессию не на один день. И от того, как мы выстраиваем взаимоотношения между коллегами сегодня, зависит будущее риэлтинга. 
                    <br/>
                    Мы с вами будем говорить: 
                    <ul>
                        <li>о том, почему МЛС нельзя просто купить и ввести в административном порядке;
                        <li>о профессиональной этике. О том, что действительно помогает в работе в интересах клиента на основе логичных законов бизнеса и торговли, и об известных "правилах", которые напоминают "круговую поруку" и жизнь "по понятиям". 
                        <li>о том, с кем и в каком объеме стоит делиться комиссией, а от сотрудничества с кем можно смело отказаться, не опасаясь обвинения в нарушении профессиональной этики...
                    </ul>
                          Сложно. Неоднозначно. В каких-то моментах хочется поспорить. В каких-то ситуациях обидно и больно. Но в этом нужно разобраться.
                          18 октября 2019, пятница - Практикум №1 из курса для риэлторов "Практика успешных партнерских продаж недвижимости" будет именно об этом. Мы назвали тему "Как конкурентам стать партнерами. Перспективы МЛС в Украине". Спикеры Олег Меньшиков и Маргарита Погосбекова - опытные практикующие риэлторы, активные сторонники создания МЛС в Украине. Но на практикуме будем говорить не о политике профессии, а о практических аспектах создания партнерской поддержки.
                      Будем разбирать конкретные кейсы, моделировать ситуации, взвешивать преимущества и оценивать риски. Мы поделимся речевыми оборотами, которые используем сами для создания взаимопонимания с коллегами.
                      Мы учтем ситуацию в Киеве по состоянию "на сейчас", постараемся сделать это исключительно в интересах наших клиентов, риэлторского бизнеса и пользы дела.
                    <!-- О чем будем говорить? Мы поделимся своим опытом:<br>
                    <br>
                    Как по ексклюзивному договору продавать недвижимость более эффективно для владельца, чем он может сделать сам.
                    <ul>
                      <li>Как работать с покупателем, не навязывая ему платную услугу, если она ему не нужна.</li>
                      <li>Как находить покупателей, нуждающихся в помощи риэлтора, и готовых ему за нее платить.</li>
                    </ul> -->
                </div>
              </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" (click)="service.animateBlock(accord9)">
                  <h4 class="accordion-heading">Тема 2. Р<span style="text-transform: lowercase;">ИЭЛТОР И СОБСТВЕННИК НЕДВИЖИМОСТИ: КАК ВЫСТРОИТЬ ДОВЕРИТЕЛЬНЫЕ ОТНОШЕНИЯ</span></h4>
                  <div class="accordion-plus">
                    <div class="plus-line-h"></div>
                    <div class="plus-line-v"></div>
                  </div>
                </div>
                <div data-ix="new-interaction" class="accordion-info" #accord9 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
                  <div class="accordion-text">
                      Собственник, обращаясь к риэлтору, задает сразу два вопроса: "За сколько вы продадите мою квартиру" и "Сколько стоят ваши услуги". Но ответ на эти вопросы сможет привести к успешной сделке только тогда, когда собственник будет готов их услышать. С чего начать разговор с потенциальным клиентом, как его построить и о чем говорить, чтобы сделать этот этап оптимальным по времени и результативным?
                      <br><br>
                      Вопросы, которые будут затронуты:
                      <br>
                      <ul>
                          <li>Критерии выбора риэлтором клиентов, с которыми стоит начинать работать (не объекта, а именно клиента!), чтобы не получить затяжную безуспешную продажу.</li>
                          <li>Как остановить собственника, если он начинает торговаться с риэлтором при первом знакомстве (выбирает себе риэлтора по принципу "кто больше предложит за мою квартиру").</li>
                          <li>Как уже при первой встрече показать собственнику преимущества риэлтора, который работает по системе партнерских продаж, по сравнению с другими агентами?</li>
                          <li>Как погасить негатив предыдущего жизненного опыта собственника?</li>
                          <li>Как собственник должен понимать, все ли возможное делается для продажи его объекта?</li>
                          <li>Как привести в соответствие ожидания собственника от риэлторской услуги и того, что должен делать риэлтор на самом деле.</li>
                          <li>Мотивация собственника и его лояльность к риэлтору - основа успешной продажи. </li>
                          <li>Можно ли поднять мотивацию и сформировать лояльность и сколько для этого нужно времени?</li>
                          <li>Кому выгоден эксклюзивный договор - собственнику или агентству?</li>
                        </ul>
                      <br>
                      Будут разбираться кейсы участников и отрабатываться навыки построения взаимоотношений риэлтора и собственника.
                      <br>
                      Опытом делятся практикующие риэлторы:
                      <a href="https://www.facebook.com/realtyblogger" target="_blank">Елена Маленкова</a>, <a href="https://www.facebook.com/margarita.pogosbekova " target="_blank">Маргарита Погосбекова</a>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                  <div class="accordion-header" (click)="service.animateBlock(accord10)">
                    <h4 class="accordion-heading">Тема 3. О<span style="text-transform: lowercase;">ПРЕДЕЛЕНИЕ СТАРТОВОЙ ЦЕНЫ ОБЪЕКТА НЕДВИЖИМОСТИ: ПРАКТИЧЕСКИЕ ПРИЕМЫ</span></h4>
                    <div class="accordion-plus">
                      <div class="plus-line-h"></div>
                      <div class="plus-line-v"></div>
                    </div>
                  </div>
                  <div data-ix="new-interaction" class="accordion-info" #accord10 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
                    <div class="accordion-text">
                        Одна из главных проблем, почему тысячи объектов недвижимости не продаются: была неверно определена стартовая цена. Как же ее правильно определить? 
                        <br><br>
                        <ul>
                            <li>Где грань между понятиями "заниженая", "завышеная", "рыночная" цена? Кто знает, какая цена - правильная?</li>
                              <li>Почему ожидания собственника часто не соответствует нынешней ситуации на рынке, и как с этим бороться?</li>
                              <li>Каков эффект от продажа объекта "с торгом"?</li>
                              <li>Что делать, когда собственник знает лучше риэлтора, сколько стоит его квартира?</li>
                              <li>Пять приемы определения стартовой цены, три из которых доступны только риэлторам;</li>
                              <li>Можно ли стартовать несколько раз?</li>
                              <li>Только ли правильная стартовая цена залог успешной продажи недвижимости?</li>
                              <li>Что опаснее - начать продажу с цены выше рыночной или ниже рыночной? </li>
                            
                          </ul>
                        <br>
                        Будут разбираться кейсы участников и отрабатываться навыки построения взаимоотношений риэлтора и собственника.
                        <br>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header" (click)="service.animateBlock(accord11)">
                      <h4 class="accordion-heading">Тема 4. П<span style="text-transform: lowercase;">рактические приемы концентрации спроса на продаваемом объекте - маркетинговые приемы</span></h4>
                      <div class="accordion-plus">
                        <div class="plus-line-h"></div>
                        <div class="plus-line-v"></div>
                      </div>
                    </div>
                    <div data-ix="new-interaction" class="accordion-info" #accord11 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
                      <div class="accordion-text">
                          Практикум подготовлен риэлторами для риэлторов. Будут затронуты темы, о которых не говорят на открытых встречах. Вы примете участие в честном обсуждении, основанном на практическом опыте.
                          Мы будем говорить о технологии концентрации спроса на продаваемом объекте:
                          <br><br>
                          <ul>
                              <li>	как можно в нынешних условиях рынка продать объект выше цены, с которой стартовал;</li>
                              <li>	как сделать так, чтобы продаваемый объект пришли посмотреть практически все покупатели, которые в этот период находятся в активном поиске;</li>
                              <li>	документы, отчеты и оферты при продаже недвижимости - практическая ценность;</li>
                              <li>	как сделать так, чтобы продаваемый объект выглядел лучше конкурентов;</li>
                              <li>	как удержать этот спрос, чтоб получить возможность выбрать наилучшее предложение от самого мотивированного покупателя;</li>
                              <li>	как показать покупателю, что не всегда стоит торговаться на понижение цены, а задача его риэлтора - это не помочь купить ему самый дешевый объект...</li>
                              <li>	как сделать так, чтобы продаваемый объект пришли посмотреть практически все покупатели, которые в этот период находятся в активном поиске;
                              <li>  как сделать так, чтобы продаваемый объект выглядел лучше конкурентов;
                              <li>	как составить маркетинговый план, чтобы с его помощью одновременно решить четыре задачи
                              <li>  маркетинговый бюджет - сколько денег нужно инвестировать в продвижение и кто за это должен платить
                              <li>	какие чувства покупателя нужно затронуть, чтоб он выделил ваш объект из множества конкурентов.
                            </ul>
                            Опытом поделятся:
                            <a href="https://www.facebook.com/anedobor" target="_blank">Александр Недобор</a>
                            <a href="https://www.facebook.com/margarita.pogosbekova" target="_blank">Маргарита Погосбекова</a>

                          <br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                      <div class="accordion-header" (click)="service.animateBlock(accord12)">
                        <h4 class="accordion-heading">Тема 5. Управление спросом при продаже квартиры по максимальной цене</h4>
                        <div class="accordion-plus">
                          <div class="plus-line-h"></div>
                          <div class="plus-line-v"></div>
                        </div>
                      </div>
                      <div data-ix="new-interaction" class="accordion-info" #accord12 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
                        <div class="accordion-text">
                            Говорите, сейчас рынок покупателя, и он всегда торгуется на понижение?
                            А если спрос на объект превысил ожидания, что делать? Продавать тому, кто первый пришел? Или тому, кто лучше уговорил риэлтора? Или тому, кто громче кричит и требует продать ему прямо сейчас? Или тому, кого привел партнер-коллега?
                            <br/><br/>
                            Управлять спросом - дело тонкое. И получить от покупателя лучшее предложение вместо фразы "А за сколько отдадите?" или "Ну мы подумаем" - это реально не просто. 
                            На этом практикуме будем говорить о технологии продажи по наилучшему предложению покупателя. Технология проведения переговоров с покупателями и их агентами, основанная на логичной и системной работе. Она часто приводит к продаже выше стартовой цены, при этом и риэлтор, и собственник понимают, что это реально лучшая цена, которую может дать рынок, на день продажи!Похоже на аукцион? Только тем, что цена продажи может быть выше стартовой. Но не потому, что продавец поднял цену, а потому что покупатель сделал лучшее предложение!Сложная тема, требующая досконального понимания технологии и мастерства ее реализации. Однако риэлторы, которые умеют так работать, не ищут работу, а работа ищет их! 
                            Опытом делятся  <a href="https://www.facebook.com/Luky.person" target="_blank">Олег Меньшиков</a> и <a href="https://www.facebook.com/margarita.pogosbekova" target="_blank">Маргарита Погосбекова</a>

                            <!-- Торг в недвижимости и работа с покупателем. Рассмотрим эти вопросы с разных сторон, но сохраняя заданный вектор - на цивилизованном рынке недвижимости нет места манипуляциям, нечистоплотной конкуренции, стремлению к решению вопроса любой ценой... 
                            <br><br>
                            Много будет о переговорах в работе риэлтора. Но не с точки зрения теории и психологии, которую преподают известные бизнес-тренеры, а с привязкой к нашим риэлторским будням.агент покупателя - консультант или продавец недвижимости?

                            <br><br>
                            <ul><li>за что готов платить покупатель, а за что нет
                                <li>выгоды риэлторской услуги для покупателя - мнимые и реальные
                                <li>когда покупателя стоит воспринимать как клиента, а когда нет
                                <li>взаимные обязательства между покупателем и риэлтором
                                <li>особенности подписания договора с покупатели
                                <li>практические приемы организации работы с покупателем
                                <li>дифференцированный подход к ценообразованию услуги для покупателя
                              
                              </ul> -->
                            <br>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" (click)="service.animateBlock(accord13)">
                          <h4 class="accordion-heading">Тема 6. Риэлтор и покупатель: особенности работы в партнерской системе. Приемы цивилизованного торга</h4>
                          <div class="accordion-plus">
                            <div class="plus-line-h"></div>
                            <div class="plus-line-v"></div>
                          </div>
                        </div>
                        <div data-ix="new-interaction" class="accordion-info" #accord13 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
                          <div class="accordion-text">
                              Покупателю часто кажется, что ему не нужна помощь в покупке - если продавать такой дорогой товар как недвижимость многим из нас приходится действительно редко, то уж покупки мы совершаем каждый день и все знаем и усеем! 
                              <br>
                              Агентам часто кажется, что если продавец хочет продать подороже, то каждый покупатель хочет купить дешевле. И выгоду от работы с риэлтором покупатель получает только тогда, когда купить квартиру получается дешевле, чем за нее хотел собственник...
                              <br>
                              Так ли это? Будем разбираться!
                              <br>
                              <br/><br/>
                              Спикеры: <a href="https://www.facebook.com/Luky.person" target="_blank">Олег Меньшиков</a> и <a href="https://www.facebook.com/margarita.pogosbekova" target="_blank">Маргарита Погосбекова</a>
                              <br/>
                              Торг в недвижимости и работа с покупателем. Рассмотрим эти вопросы с разных сторон, но сохраняя заданный вектор - на цивилизованном рынке недвижимости нет места манипуляциям, нечистоплотной конкуренции, стремлению к решению вопроса любой ценой... 
                              <br><br>
                              Много будет о переговорах в работе риэлтора. Но не с точки зрения теории и психологии, которую преподают известные бизнес-тренеры, а с привязкой к нашим риэлторским будням.
                              <!-- агент покупателя - консультант или продавец недвижимости? -->
                              Практикующие риэлторы, работающие по Системе партнерских продаж, <a href="https://www.facebook.com/Luky.person" target="_blank">Олег Меньшиков</a> и <a href="https://www.facebook.com/margarita.pogosbekova" target="_blank">Маргарита Погосбекова</a> поделимся своим опытом и расскажем о положительных примерах в работе и ошибках, на которых полезно поучиться...

<!--   
                              <br><br>
                              <ul><li>за что готов платить покупатель, а за что нет
                                  <li>выгоды риэлторской услуги для покупателя - мнимые и реальные
                                  <li>когда покупателя стоит воспринимать как клиента, а когда нет
                                  <li>взаимные обязательства между покупателем и риэлтором
                                  <li>особенности подписания договора с покупатели
                                  <li>практические приемы организации работы с покупателем
                                  <li>дифференцированный подход к ценообразованию услуги для покупателя
                                
                                </ul> -->
                              <br>
                          </div>
                        </div>
                      </div>
                    
                    <div class="accordion-item">
                        <div class="accordion-header" (click)="service.animateBlock(accord14)">
                          <h4 class="accordion-heading">Тема 7. Р<span style="text-transform: lowercase;">ИЭЛТОР И ДЕНЬГИ</span></h4>
                          <div class="accordion-plus">
                            <div class="plus-line-h"></div>
                            <div class="plus-line-v"></div>
                          </div>
                        </div>
                        <div data-ix="new-interaction" class="accordion-info" #accord14 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
                          <div class="accordion-text">
                              Спикеры этого практикума: <a href="https://www.facebook.com/Luky.person" target="_blank">Олег Меньшиков</a>, <a href="https://www.facebook.com/margarita.pogosbekova" target="_blank">Маргарита Погосбекова</a> и <a href="https://www.facebook.com/anedobor" target="_blank">Александр Недобор</a>
                              
                            
                              <br/><br/>
                              Мы будем говорить обо всем, что связано с деньгами:
                              <ul>
                                <li> какова реальная стоимость риэлторскай услуги;
                                <li> за что клиент готов платить риэлтору, а за что - нет;
                                <li>денежные парадоксы профессии: почему клиенту выгодно платить больше и почему риэлтору выгодно делиться комиссией с партнером;
                                <li>как зарабатывать много не прибегая к манипуляциям и навязыванию услуги клиенту;
                                <li>как продавать недвижимость так, чтоб все были довольны
                              </ul>
                              <!-- Деньги, о которых пойдет речь на этом практикуме, имеют собственную энергию и ею можно и нужно научиться управлять....
                              Мы готовимся отвечать на все вопросы, которые часто возникают у коллег - от "Как так получается, что собственнику выгоднее заплатить профессионалу 6%, чем не платить вообще?" до "А зачем мне, риэлтору, у которого есть эксклюзивный объект, с кем-то делиться?". И еще - о мало используемых финансовых резервах нашей профессии, о возможностях увеличивать доходы, работая в интересах своего клиента...
                              Мы будем говорить обо все, что связано с деньгами:

                              <br><br>
                              <ul><li>за что клиенты готовы платить риэоторам, не торгуясь
                                  <li>денежные парадоксы профессии: почему клиенту выгодно платить больше и почему риэлтору выгодно делиться комиссией с партнером;
                                  <li>как зарабатывать много не прибегая к манипуляциям и навязыванию услуги клиенту;
                                  <li>как продавать недвижимость так, чтоб все были довольны.
                                  <li>неиспользуемые возможности, которые позволят увеличить доход
                                  <li>энергия денег - как направить ее в правильное русло
                                  <li>настраиваем денежные потоки - никакой мистики, только психология и практика
                                </ul> -->
                              <br>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                          <div class="accordion-header" (click)="service.animateBlock(accord15)">
                            <h4 class="accordion-heading">Тема 8. И<span style="text-transform: lowercase;">збранное</span></h4>
                            <div class="accordion-plus">
                              <div class="plus-line-h"></div>
                              <div class="plus-line-v"></div>
                            </div>
                          </div>
                          <div data-ix="new-interaction" class="accordion-info" #accord15 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
                            <div class="accordion-text">
                                Выбираем самое лучшее и интересное из всех занятий. <br/><br/>
                                Готовим новые материалы. <br/><br/>
                                Подбираем новые кейсы для разбора. <br/><br/>
                                Все, что Вы не успели спросить во время основного потока практикумов - можете спросить. <br/><br/><br/>
                                <b>Вся команда Практикума вместе:</b><br/><br/>
                                <a href="https://www.facebook.com/kiev.realtor" target="_blank">Александр Гришко</a> <br/>
                                <a href="https://www.facebook.com/Luky.person" target="_blank">Олег Меньшиков</a><br/>
                                <a href="https://www.facebook.com/realtyblogger" target="_blank">Елена Маленкова</a><br/>
                                <a href="https://www.facebook.com/anedobor" target="_blank">Александр Недобор</a><br/>
                                <a href="https://www.facebook.com/margarita.pogosbekova" target="_blank">Маргарита Погосбекова</a><br/>
                                <!-- Деньги, о которых пойдет речь на этом практикуме, имеют собственную энергию и ею можно и нужно научиться управлять....
                                Мы готовимся отвечать на все вопросы, которые часто возникают у коллег - от "Как так получается, что собственнику выгоднее заплатить профессионалу 6%, чем не платить вообще?" до "А зачем мне, риэлтору, у которого есть эксклюзивный объект, с кем-то делиться?". И еще - о мало используемых финансовых резервах нашей профессии, о возможностях увеличивать доходы, работая в интересах своего клиента...
                                Мы будем говорить обо все, что связано с деньгами:
  
                                <br><br>
                                <ul><li>за что клиенты готовы платить риэоторам, не торгуясь
                                    <li>денежные парадоксы профессии: почему клиенту выгодно платить больше и почему риэлтору выгодно делиться комиссией с партнером;
                                    <li>как зарабатывать много не прибегая к манипуляциям и навязыванию услуги клиенту;
                                    <li>как продавать недвижимость так, чтоб все были довольны.
                                    <li>неиспользуемые возможности, которые позволят увеличить доход
                                    <li>энергия денег - как направить ее в правильное русло
                                    <li>настраиваем денежные потоки - никакой мистики, только психология и практика
                                  </ul> -->
                                <br>
                            </div>
                          </div>
                        </div>
  
                      

                    
      </div>
      <div style="width: 100%; display: flex; align-content: center">
          <button style="
           display: flex;
            flex-direction: column;
            width: auto;
            vertical-align: bottom;
            margin-right: auto; margin-left: calc(35%); margin-bottom: 70px; color: white; text-shadow: black" mat-raised-button color="accent">Зарегистрироваться</button>  
      </div>
  </div>