<div [attr.id]="'FAQ_1'" class="FAQ-1 faq-block first start-theme" #FAQ_1>
      <!-- <h2 class="faq-block-heading"><span class="text-color-3">01.</span> Обучающий курс "R-Start. Как стать риэлтором"</h2> -->
      <div class="faq-block-heading" style="text-align: left;
      font-size: xx-large;
      font-weight: bold;
      font-style: italic;
      padding-top: 2%;">
        Программа обучения по курсу "R-Start. Как стать риэлтором"
      </div>  
      <!-- <img src="/realty/assets/R-Start-logo-for-prog.jpg" style="float: left;
      margin-right: 41.5px;"> -->
      <div style="display: flex;
      align-content: center;
      width: 100%;
      /* max-width: 67%; */
      flex-direction: column;
      justify-content: start;">
        <div  style="margin-bottom: 22px; display: flex;  text-align: justify; vertical-align: top; font-size: large;" class="course-block">
          <img class="course-image" src="/realty/assets/R-Start-logo-for-prog.jpg" style="width: auto; height: auto; min-height: auto; max-width: 76%; margin-left: auto; margin-right: auto; /*margin-left: 41.5px;*/ /*margin-right: 41.5px;*/ ">  
          Курс построен так, что отдельные темы сформированы в блоке.  Можно принять участие в полном курсе (рекомендуем), но можно посетить только отдельные блоки - один или несколько. Сертификат участника выдается только после посещения полного курса и успешного прохождения тестирования.
        </div>
        <button style="display: flex;
        flex-direction: column;
        width: auto;
        vertical-align: bottom;
        align-self: center;
        color: black; text-shadow: white"  (click)="navigateToSubscribe('start')" mat-raised-button color="accent">Предварительная запись</button>  
      </div>
      <!-- speakers -->
      <br>
      <h2 style="clear: both; padding-top: 20px;">Спикеры курса "R-Start. Как стать риелтором"</h2>
      <div style="align-items: stretch; justify-content: space-around; width: 99%; display: flex; flex-direction: row;     
      height: auto;
      padding-top: 22px;
      padding-bottom: 10px;" class="speakers">
        <div class="header-speaker">
          <img src="/realty/assets/Анна Бондаренко RStart.jpg">
          <div style="width: 90%; cursor: pointer; justify-content: center;" >Анна Бондаренко</div>
        </div>
        <div class="header-speaker">
            <img src="/realty/assets/Олег Меньшиков R-Start.png">
          <div style="width: 90%; justify-content: center;">Олег Меньшиков</div>
        </div>
        <div class="header-speaker">
          <img src="/realty/assets/Александр Недобор RStart.jpg">
          <div style="width: 90%; justify-content: center;">Александр Недобор</div>
        </div>
        <div class="header-speaker">
          <img src="/realty/assets/Маргарита Погосбекова R-Start.jpg">
          <div style="width: 90%; justify-content: center;">Маргарита Погосбекова</div>
        </div>
      </div>
      <div class="faq-list">
        <div class="accordion-item">
          <div class="accordion-header" (click)="service.animateBlock(accord1)">
            <h4 class="accordion-heading">Для кого этот курс?</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" #accord1 class="accordion-info">
            <div class="accordion-text"> Обучающий курс "R-Start. Как стать риэлтором"
                Обучающий проект для тех, кто хочет начать зарабатывать деньги, продавая недвижимость. Опытные практикующие риэлторы помогут быстро понять, подходит ли эта работа лично Вам и какие навыки стоит совершенствовать прежде всего.
                Курс касается основ профессии - где брать клиентов, как объяснить им важность услуги, что нужно уметь делать, чтобы продавать или помогать покупать недвижимость успешнее, чем это может сделать сам клиент.

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" (click)="service.animateBlock(accord2)">
            <h4 class="accordion-heading">Блок 1. "За что платят риэлтору?"</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" #accord2 style="height: 0px; opacity: 0;">
            <div class="accordion-text"><h3>Блок №1. "За что платят риэлтору"</h3>
                <br>
                Для тех, кто хочет понять, сможет он работать в продаже недвижимости или нет.  <br><br>
              Мастер-класс опытных практикующих риэлторов "За что платят риэлтору" - как выбрать свою нишу в сфере продажи недвижимости, которая гарантированно принесет высокий стабильный заработок, учитывая личные способности и предпочтения
            <br><br><b>Продолжительность – 4 часа. </b><br>
            <br>
            Стажеры в агентство недвижимости приходяд, конечно, вне сезона. Но осенью часто бывает, что их число увеличивается. Правда? 
            А тут еще в разгаре горячая пора продажи и аренды, повышенная активность клиентов...
            Хорошо, если в вашем агентстве есть отработанная система обучения. Но ведь содержат штатных тренеров не всегда экономически обосновано. Как дети идут в сентябре в школу, так и стажеров можно направить поучиться к тем, кто такие курсы уже подготовил. 
            Но как понять, нравится ли вам подача материала именно этим тренером? Хотите ли вы, чтобы именно он учил ваших сотрудников? Готовы ли вы корректировать свой бизнес-процесс с учетом того, чему научат ваших стажеров?
            Для этого мы построили программу так, первый блок - это квинтэссенция темы. 
            Все четыре тренера со своими мини мастер-классами.
            Вопросы, которые которые витают в воздухе, но однозначных ответов на них не могут дать даже агенты со стажем.


            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" (click)="service.animateBlock(accord3)">
            <h4 class="accordion-heading">Блок 2. Практикум "Как продавать недвижимость"</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" #accord3 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
            <div class="accordion-text">
              Блок № 2. Практикум "Как продавать недвижимость. Чем действия профессионала отличаются от самостоятельной продажи собственником. Чему можно быстро научиться, чтобы уже в первый месяц работы заработать хорошие деньги" - 2 занятия по 4 часа. Включают в себя мастер-классы, лекции с пошаговой инструкцией, которую сразу можно применять в работе, и практическую часть для закрепления материала   
              <br/>
              <br><br><b>Продолжительность – 2 занятия по 4 часа. </b><br/>
              <ol>
                  <li>Стартовая цена</li>
                  <li>Основы маркетинга</li>
                  <li>Организация показов</li>
                  <li>Основы проведения переговоров с покупателем</li>
                  <li>Отчет для клиента</li></ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" (click)="service.animateBlock(accord4)">
            <h4 class="accordion-heading">Блок 3. Тема "Особенности работы на покупателя".</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" #accord4 class="accordion-info" style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
            <div class="accordion-text">Блок № 3. Зачем нужен риэлтор, работающий на поиск нужного объекта для покупателя. Стоимость риэлторской услуги и ее обоснование покупателю. Как правильно использовать знания, навыки и доступ к профессиональной информации, которыми обладает риэлтор, в интересах покупателя. Цивилизованный торг - как не зациклиться на попытках снижения цены, отрабатывая мнимую ценность услуги для покупателя, а помочь выбрать ему лучший объект в рамках его возможностей
                <br><br><b>Продолжительность – 2 занятия по 4 часа. </b>
                <ol>
                  <li>Как выбирать квартиру
                  <li>Организация просмотров
                  <li>Взаимодействие с агентами собственников
                  <li>Особенности цивилизованного торга
                  <li>Потребности покупателей
                  <li>Особенности домов и планировок
                </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" (click)="service.animateBlock(accord5)">
            <h4 class="accordion-heading">Блок 4. Практикум "Как находить клиентов. Как предлагать им свои услуги"</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" #accord5 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
            <div class="accordion-text"><h3>Блок № 4. Практикум "Как находить клиентов. Как предлагать им свои услуги, чтобы они без колебаний подписывали договор. Особенности продажи дорогой платной услуги продавцу недвижимости, покупателю вторички и покупателю новостройки"</h3>
              <br><br><b>Продолжительность – 2 занятия по 4 часа. </b>
              <ol>
                <li>Где брать клиентов
                <li>Как презентовать себя как специалиста
                <li>Чем риэлтор может быть полезен клиенту?
                <li> Чего не стоит обещать клиенту
                <li>Как подготовиться к перегорм по презентации услуги
                <li>Эксклюзивный и агентский договор
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" (click)="service.animateBlock(accord6)">
            <h4 class="accordion-heading">Блок 5. Базовые знания: документы, типовые планировки, налоги, ипотека и т.д.</h4>
            <div class="accordion-plus">
              <div class="plus-line-h"></div>
              <div class="plus-line-v"></div>
            </div>
          </div>
          <div data-ix="new-interaction" class="accordion-info" #accord6 style="height: 0px; opacity: 0;" (click)="service.blockExpand($event)">
            <div class="accordion-text" style="margin-bottom: 20px"><h3>Блок № 5. Практикум "Базовые знания: документы, типовые планировки, налоги, ипотека и т.д."</h3>
                Здесь в ознакомительном порядке предлагаются основные специальные понятия, о которых должен иметь представление начинающий риэлтор. Не претендуя на полноту освещения вопросов, требующих специального образования, мы даем основные понятия и признаки того, когда обязательно нужна дополнительная консультация юриста или другого специалиста.
              <br><br><b>Продолжительность – 2 занятия по 4 часа. </b>
              <br>
              <h3>Темы:</h3>
              <li> Градостение в г.Киеве – типовые и специальные постройки, планировки и технические характеристики
              <li> Этапы застройки г.Киева, отличия домов разного периода постройки, их востребованность среди покупателей и ценовые
                различия.
              <li> Правоустанавливающие документы на недвижимость – виды и особенности подготовки к сделке
              <li> Особенности покупки квартиры в строящемся дома.
              <li> Особенности продажи и приобретение объекта в браке
              <li> Особенности сделок с недееспособными или лицами с ограниченной дееспособностью
              <li> Особенности налогообложения продажи недвижимости
              <li>Ипотека для физических лиц

            </div>
          </div>
        </div>
        
        <div style="width: 100%; display: flex; align-content: center">
          <button style="
           display: flex;
            flex-direction: column;
            width: auto;
            vertical-align: bottom;
            margin-right: auto;  margin-bottom: 70px; color: black; text-shadow: white" mat-raised-button color="accent">Предварительная запись</button>  
            </div>
      </div>
      <!-- <div style="width: 100%; display: flex; align-content: center">
      <button style="
       display: flex;
        flex-direction: column;
        width: auto;
        vertical-align: bottom;
        margin-right: auto; margin-left: calc(35%); margin-bottom: 70px; color: black; text-shadow: white" mat-raised-button color="accent">Предварительная запись</button>  
        </div> -->
    </div>