@import '~@angular/material/theming';

@include mat-core();
//#fafafa
// $app-primary: mat-palette($mat-teal, A100);

$app-grey: (
  main: #d7d7d7,
  lighter:#a2b4cc,
  darker: #5c5c5c,
  200: #797979, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $light-primary-text,
    darker: $light-primary-text
  )
);

$mat-accent: (
  main:  #6380a9,
  lighter: #c220af71,
  darker:  #f57f5bc5,
  200:  $light-primary-text, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: #d7d7d7,
    darker: #b9a685,
    200:  $light-primary-text
  )
);
$mat-secondary: (
  main: #c220ae,
  lighter: #c220ae,
  darker: #5c5c5c,
  200: #797979, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text
  )
);

$app-brown: mat-palette($mat-secondary, #c220ae, A200);


$mat-third: (
  main:  #f57f5bc5,
  lighter: #f57f5b67,
  darker: #5c5c5c,
  200: #797979, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $light-primary-text,
    darker: $light-primary-text
  )
);

$app-orange: mat-palette( $mat-third );
// $mat-brown: (
//   main: #c220ae,
//   lighter: #d7d7d7,
//   darker: #5c5c5c,
//   200: #797979, // For slide toggle,
//   contrast : (
//     main: $light-primary-text,
//     lighter: $dark-primary-text,
//     darker: $light-primary-text
//   )
// );
$app-accent: mat-palette( $mat-accent, main, lighter, darker, A200);

// $app-brown-pallete: mat-pallete(  $mat-brown, main, lighter, darker);

$app-warn: mat-palette($app-orange);
$app-grey-pallete: mat-palette($app-grey);

$app-primary: mat-palette($app-grey-pallete);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
