@import '../../../styles/_mixins.scss';

.carousel-slide {
  @include frame();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &-overlay {
    @include frame();
  }

  &-content {
    @include frame(1);
  }
}
