<mat-toolbar color="primart" class="mat-app-background  navbar-expand-md" >
    <mat-toolbar-row class="equal_column_spacer" style="justify-content: left;">
        <button mat-icon-button matTooltip="Application Menu" (click)="sidenav.toggle()">
                <mat-icon>menu_open</mat-icon>
        </button>
<!-- hidden button for opening the menu -->
<div style="min-width: 100px">
    <a routerLink="environment.appRoot" (click)="item.click()" *ngFor="let item of topNav.home" aria-hidden="false" aria-disabled="true">
            <!-- <mat-icon
                    *ngIf="item.icon">
                {{item.icon}}
            </mat-icon> -->
        <img src="https://uploads-ssl.webflow.com/5f1a0e10b068747496909468/5f2213b081e43a34b96015a8_%D0%A3%D0%BB%D0%B8%D1%82%D0%BA%D0%B0.png" style="height: 60px">
    </a>
</div>
<!-- <button mat-button [matMenuTriggerFor]="mainMenu" #mainMenuTrigger="matMenuTrigger" class="cdk-visually-hidden">
</button> -->

<!-- horizontal main menu -->
<div *ngIf="false">
{{ /* <mat-menu #mainMenu="matMenu">
    <div style="display: flex; justify-content: flex-start;">
        <ng-container *ngFor="let item of topNav.commonItems, let ind = index">
            <button *ngIf="item.isSubmenuHeader!==true" mat-flat-button color="accent" (click)="item.click()">
                            <mat-icon
                                    *ngIf="item.icon">
                                {{item.icon}}
                            </mat-icon>
                            <span class="d-none d-md-inline">{{item.textContent}}</span>
            </button>
            <button *ngIf="item.isSubmenuHeader" mat-flat-button color="accent"  [matMenuTriggerFor]="'matMenu' + ind">
                <!-- <button  (click)="item.click()"> -->
                    <mat-icon
                            *ngIf="item.icon">
                        {{item.icon}}
                    </mat-icon>
                    <span class="d-none d-md-inline">{{item.textContent}}</span>
            </button>
            <!-- submenu if present-->
            <mat-menu *ngIf="item.isSubmenuHeader" [id]="'matMenu'+ ind" #matMenu{{ind}}="matMenu">
                <button mat-menu-item *ngFor="let subitem of item.subItems, let jnd = index">
                <mat-icon>{{item.icon}}</mat-icon>
                <span>{{item.textContent}}</span>
                </button>
            </mat-menu>
            <!-- <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
                </button> -->
                <!-- <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
                </button> -->
        </ng-container>
        <!-- <button mat-button [matMenuTriggerFor]="edit">Edit</button> -->
    </div>
</mat-menu>
*/ }}
</div>
    <!-- <div>
        <a routerLink="'/'" (click)="item.click()" *ngFor="let item of topNav.home" aria-hidden="false" aria-disabled="true">
                <-- <mat-icon
                        *ngIf="item.icon">
                    {{item.icon}}
                </mat-icon> ->
                <img src="https://uploads-ssl.webflow.com/5f1a0e10b068747496909468/5f2213b081e43a34b96015a8_%D0%A3%D0%BB%D0%B8%D1%82%D0%BA%D0%B0.png" style="height: 60px">
            </a>
        </div> -->
        <nav>
            <div class="mat-emulate-menu-item" *ngIf="!isResponsive">
                <ng-container *ngFor="let item of topNav.commonItems, let ind = index">
                    <!-- <button mat-flat-button color="accent" (click)="item.click()">
                        <mat-icon
                                *ngIf="item.icon">
                            {{item.icon}}
                        </mat-icon>
                        <span class="d-none d-md-inline">{{item.textContent}}</span>
                    </button> -->
                    <button class="list-item list-item-box-shadow " *ngIf="item.isSubmenuHeader!==true  && !sidenav.opened &&!isResponsive" mat-flat-button [color]="currentItemSelected[item.textContent]? 'primary':'accent' " (click)="item.click(item)">
                            <mat-icon
                                    *ngIf="item.icon">
                                {{item.icon}}
                            </mat-icon>
                            <span class="d-none d-md-inline">{{item.textContent}}</span>
                    </button>
                    <button class="list-item list-item-box-shadow" mat-menu-item *ngIf="item.isSubmenuHeader" color="primary"  [matMenuTriggerFor]="'matMenu' + ind">
                        <!-- <button  (click)="item.click()"> --><!--mat-flat-button-->
                            <mat-icon
                                    *ngIf="item.icon">
                                {{item.icon}}
                            </mat-icon>
                            <span class="d-none d-md-inline">{{item.textContent}}</span>
                    </button>
                    <!-- submenu if present-->
                    <mat-menu *ngIf="item.isSubmenuHeader" [id]="'matMenu'+ ind" #matMenu{{ind}}="matMenu">
                        <button mat-menu-item *ngFor="let subitem of item.subItems, let jnd = index">
                        <mat-icon>{{item.icon}}</mat-icon>
                        <span>{{item.textContent}}</span>
                        </button>
                    </mat-menu>
                </ng-container>
            </div>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container style="height: calc(100% - 64px); margin: 0; position: relative; height: 100vh;">
    <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" style="width: 240px; margin-top: 80px">
        <mat-nav-list dense>
            <!-- <mat-list-item routerLink="#" *ngFor="let item of topNav.commonItems, let ind = index">
                <mat-icon *ngIf="item.icon">
                    {{item.icon}}
                </mat-icon>
                <span class="d-none d-md-inline">{{item.textContent}}</span>
            </mat-list-item> -->
            <mat-list-item  *ngFor="let item of topNav.commonItems, let ind = index" > <!--currentItemSelected[-->
                <div *ngIf="item.isSubmenuHeader!==true" mat-raised-button color="primary">
                    <div  ([*ngClass])="{ 'list-item': true}"  style="display: inline-block" (click)="item.click(item)">
                        <mat-icon
                                *ngIf="item.icon" style="margin-right: 3px">
                            {{item.icon}}
                        </mat-icon>
                        <span class="d-none d-md-inline">{{item.textContent}}</span>
                    </div>
                </div>
                <button class="list-item" mat-menu-item *ngIf="item.isSubmenuHeader" color="primary"  [matMenuTriggerFor]="'matMenu' + ind">
                    <!-- <button  (click)="item.click()"> --><!--mat-flat-button-->
                        <mat-icon
                                *ngIf="item.icon">
                            {{item.icon}}
                        </mat-icon>
                        <span class="d-none d-md-inline">{{item.textContent}}</span>
                </button>
                <!-- submenu if present-->
                <mat-menu *ngIf="item.isSubmenuHeader" [id]="'matMenu'+ ind" #matMenu{{ind}}="matMenu">
                    <button mat-menu-item *ngFor="let subitem of item.subItems, let jnd = index">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span>{{item.textContent}}</span>
                    </button>
                </mat-menu>
            </mat-list-item>
            <!-- <mat-list-item routerLink="#"><mat-icon>person</mat-icon>Profile</mat-list-item>
            <mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</mat-list-item> -->
            <!-- <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                <mat-expansion-panel-header>
                    Preference
                </mat-expansion-panel-header>
                <mat-nav-list dense>
                    <a mat-list-item routerLink="#"><mat-icon>attach_money</mat-icon>Billing</a>
                    <a mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                <mat-expansion-panel-header>
                    Privacy
                </mat-expansion-panel-header>
                <mat-nav-list dense>
                    <a mat-list-item routerLink="#"><mat-icon>person_add</mat-icon>Partnership Request</a>
                    <a mat-list-item routerLink="#"><mat-icon>visibility</mat-icon>Profile Visibility</a>
                </mat-nav-list>
            </mat-expansion-panel> -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div  style="width: 100%; position: absolute; top: 0; padding-top: 64px; 
        height: calc( 100vh - 64px); " class="container-fluid outlet-container" [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
        <!-- <router-outlet>
            <div class="container mat-body-1">
                Account Component
            </div>
        </router-outlet> -->
    </mat-sidenav-content>
</mat-sidenav-container>