$topbar-padding-top: 15px;
$topbar-padding-right: 20px;
ul {
    list-style: none;
}

.mat-emulate-menu-item {
    pointer-events: auto;
    position: static;

    box-sizing: border-box;
    // max-width: calc( 100% - 143px ); //max-width: 100%;   
    max-width: calc( 100% - 77px );
    max-height: 100%;

    display: flex;
    // position: absolute;
    z-index: 1000;
}
.list-item.list-item-box-shadow {
    -webkit-box-shadow: 2px 2px 6px -1px rgba(83,102,97,1);
    -moz-box-shadow: 2px 2px 6px -1px rgba(83,102,97,1);
    box-shadow: 2px 2px 6px -1px rgba(83,102,97,1);
    border-radius: 0px;
    font-size: 0.7em;
}
.list-item {
    font-family: Helvetica, sans-serif;

    border-radius: 3px;
    border: 1px solid #c0c0c0;
    margin-left: 3px;
    margin-right: 3px;
    
    padding: 0 15px;
    padding-right: 22px;
    display: inline;
    align-items: center;
    font-size: 0.8em;
    
    cursor: pointer;
    &::after {
        // content: '|';
        padding: 5px;
    }
    &:last-child::after {
        content: '';
    }
}

.equal_column {
    display: flex;
    justify-content: space-between;
}
mat-toolbar {
    // position: sticky;
    //position: -webkit-sticky; /* For macOS/iOS Safari */
    position: fixed;
    background-color: rgba(120, 120, 120, 0.868);
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

mat-sidenav .mat-list-item .menu-item-highlighter{
    background-color: rgb(230, 213, 182)!important;
}

.menu-item:hover {
    background-color: rgb(223, 223, 223);
}
mat-toolbar-row div a {
    text-decoration: none;
}
:host {
    width: 100%;

    ::ng-deep router-outlet ~ * {
        position: absolute;
        width: 100%;
        height: calc( 100vh - 64px); /*100%*/
      }

      
    mat-toolbar mat-toolbar-row .mat-flat-button {
        // color: rgba(240, 240, 236, 0.937); //light
        color: #69696942;
        // color: rgba(0, 0, 0, 0.937); //dark
            // text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0), 2px 2px 2px rgba(206,89,55,0);    
        // color: #d9d9d9;
        background: #e8e8e8;
        text-shadow: -1px -1px 0px rgba(0,0,0, 0.7);
        // text-shadow: #f2f2f2;
        display: inline-block;
        -webkit-box-shadow: 2px 2px 6px -1px rgba(83,102,97,1);
        -moz-box-shadow: 2px 2px 6px -1px rgba(83,102,97,1);
        box-shadow: 2px 2px 6px -1px rgba(83,102,97,1);
    }
}

