@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
// Include non-theme styles for core.

@include mat-core();
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// Define your application's custom theme.
@import 'src/themes/sassy-theme.scss';

$my-app-primary: mat-palette($app-primary);
// $mat-praktikum: $app-accent;
$my-app-accent:  mat-palette($app-accent);
$my-app-warn:    mat-palette($app-warn);

// $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// $theme: mat-light-theme((
//   color: (
//     primary: $the-primary,
//     accent: $the-accent
//   )
// ));

// Include theme styles for Angular Material components.

$my-app-theme: mat-light-theme( $my-app-primary, $app-accent ,  $my-app-warn);

// $my-app-theme: mat-light-theme( 
//   $app-theme,
//   (
//   color: (
//     primary: $my-app-primary,
//     accent: $my-app-accent,
//     warn: $my-app-warn
//   )
// ));

@include angular-material-theme($my-app-theme);

$start-primary: mat-palette($app-brown);
$start-accent:  mat-palette($app-accent,lighter);
$start-warn: mat-palette($app-orange);
$start-theme: mat-light-theme($start-primary, $start-accent, $start-warn);   

.start-theme {
 //  .mat-raised-button {
    @include angular-material-theme($start-theme);
  // } 
}

  $praktikum-primary: mat-palette($app-primary);
  $praktikum-accent:  mat-palette($app-primary);
  $praktikum-warn: mat-palette($app-orange);
  $praktikum-theme: mat-light-theme($praktikum-primary, $praktikum-accent, $praktikum-warn);
  
.praktikum-theme {
  .mat-raised-button {
  @include angular-material-theme($praktikum-theme);
}
}

$special-primary: mat-palette($app-orange, lighter);
$special-accent:  mat-palette($app-accent, darker);
$special-warn: mat-palette($app-orange);
$special-theme: mat-light-theme($special-primary, $special-accent, $special-warn);

.special-theme { 
  @include angular-material-theme($special-theme);
}

html {
  overflow: hidden; //scroll in  page-intro-left
}

body {
  margin: 0;
}
.equal_column_spacer {
  display: flex;
  justify-content: space-between;
}

.equal_column_center {
  display: flex;
  justify-content: center;
}

.page-title, .page-body {
  padding: 10px 5px;
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.course-image {
  margin-right: 22px;
  min-width: 65%;
  align-self: center;
  padding-bottom: 20px;
}

// latter
div.course-block {
  display: flex;
  flex-direction: column;
  font-size: large;
}

@media all and (max-width: 997px) {
  div.course-block {
      display: flex;
      // flex-direction: column!important;
      // width: 58vw!important;
      // flex-direction: row;
      flex-direction: column;
      // flex-direction: column;
      align-content: center;
      // width: 90%;
  }  

  .course-image {
    display: flex!important;
    // width: 99%;
    // align-self: center;
    align-self: start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36.5px; //41.5
    min-width: 90%;
    height: auto;
} 
}
