<mat-card>
    <div class="equal_column_center">
        <div>
            <a href="https://angular.io"><img src="assets/M_Logo.png" alt="Angular"></a>
        </div>
        <div>
            <a href="https://buttercms.com"><img src="assets/buttercms.jpg" alt="ButterCMS"></a>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <div class="page-footer" matTooltip="Shows Hello-You component">
            <a href="/hello-you"><mat-icon>whatshot</mat-icon></a>
        </div>
    </mat-card-footer>
</mat-card>
